[2020-09-03 01:23] FredKSchott commented on #955
Closing as fixed in #983!

Not sure yet how or even if we want to tackle 1 & 2, so closing this issue as resolved and we can spin up a new issue once we know what we want to prioritize there.

[2020-09-03 01:23] #955 closed

[2020-09-04 18:10] dworthen commented on #325
One way to be compatible with pnpm would be to flatten the templates generated by CSA. For example, the `babel.config.js` in `app-template-react-typescript` extends the one in `app-script-react`.

To flatten...
1. Add the `babel.config.js` code directly to the `app-template-react-typescript` template instead of extending.
2. Add all the babel plugins to the `package.json` of  `app-template-react-t

[2020-09-04 20:58] jeberly commented on #970
We do something similar, but we simply serve up the files that rollup outputs in dev mode from our API server so we can have the same CSP headers with trusted types in dev that match production. The API is hosted on same domain:port as the svelte static files.

I was trying to see if we could migrate to snowpack, but I can't seem to figure out how to accomplish the above. I _think_ I would just ne

[2020-09-04 21:14] stramel commented on #970
@jeberly I think you would be looking for the `--watch` option for now until we have a middleware. You can then serve the files from your server.

[2020-09-05 07:32] FredKSchott commented on #970
Yes! `snowpack build --watch` is exactly what this is for.

[2020-09-05 07:38] FredKSchott commented on #325
Thanks for the feedback! I agree, the "extends" property was great early on for automatically updating users to the latest config behind the scenes. But, now that that config has baked and settled a bit, that benefit is no longer as important.

[2020-09-05 08:17] #932 closed

[2020-09-05 10:55] jokull commented on #670
I've found that you can just use Rollup for production builds alongside Snowpack without any plugins.

Here's my config:

[code]

[2020-09-05 18:13] jeberly commented on #970
@FredKSchott @stramel Thanks guys! That was exactly what I was after.

We have a custom  `ws` connection and file watcher that reloads app on changes atm, but I was hoping to see if I can get `snowpack build --watch` to run the HMR server as mentioned in https://github.com/pikapkg/snowpack/pull/782#issuecomment-673719430. But I am entirely new to the codebase, so I am not sure the level of effort

[2020-09-06 18:23] FredKSchott commented on #970
This has been requested by enough people that I think it's clearly a useful task to prioritize. Will spin up an official issue to see if anyone is interested in tackling!

[2020-09-06 18:24] jeberly commented on #670
@jokull I have been doing the same, but I had to do a workaround to make the `SNOWPACK_PUBLIC_*` environment variables work. I used `'dotenv'` and `@rollup/plugin-replace` to define another variable. eg. `= import.meta.env || __myapp.env;`

If anybody has a better idea for that, let me know.

[2020-09-06 18:35] FredKSchott opened #1002 "Build `--watch` HMR Support"
**Original Discussion:** https://github.com/pikapkg/snowpack/pull/782#issuecomment-673719430, https://github.com/pikapkg/snowpack/issues/970#issuecomment-687644002
**/cc** @francislavoie @jeberly

## Background

`snowpack build --watch` will run Snowpack's build pipeline through a file watcher, allowing you to do local development with an output directory that can be served by a custom frontend se

[2020-09-06 18:35] FredKSchott commented on #970
Spun off in https://github.com/pikapkg/snowpack/issues/1002

[2020-09-06 18:52] FredKSchott commented on #670
@ParamagicDev has been doing some work on this! I just saw him tweeting about it this morning
👀 👀 👀 https://twitter.com/RogersKonnor/status/1302369247738376195

[2020-09-06 19:56] ParamagicDev commented on #670
Right now it's just a glorified manifest.json generator....if you wanna take a peek at what I have so far be my guest. I still need to add chunks to the Manifest as well.

Anyways, there an example dir in the tests folder that will populate the build directory and give you an idea of the expected output.

https://github.com/ParamagicDev/snowpack-plugin-rollup-bundle/tree/development

[2020-09-06 21:40] jokull commented on #670
@jeberly funny you should mention that, I was doing exactly that today to augment my setup with a Sentry logger!

[2020-09-07 03:56] MoonBall commented on #1002
I would like to try this task and learn how to implement hmr.

[2020-09-07 05:00] francislavoie commented on #1002
Hopefully there will be a way to enable this for projects that don't use a public dir in the build - I have my entrypoint separate from my build. If there's a JS code snippet I would need to inject myself during development, I would like that approach if possible.

[2020-09-07 16:24] FredKSchott commented on #1002
Yes! Both would be supported, but you're right that we'll need to include instructions/documentation for what code to add to your HTML when Snowpack doesn't own your HTML. It's just a one-line code-snippet that you'd need to inject.

And, when we get to part 2 the snippet should no longer be necessary since Snowpack will automatically add it to all JS files when full HMR is enabled.

[2020-09-07 16:27] FredKSchott commented on #670
If this is a common pattern, we should look into a dedicated plugin hook. `addSnippet()`?

[2020-09-07 23:19] gr2m opened #1012 "[snowpack build]: `import.meta.env` is missing when `@snowpack/plugin-webpack` plugin is used"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1011
**/cc** @ralphtheninja

Minimal test case repository by @ralphtheninja (thanks!): https://github.com/ralphtheninja/snowpack-test

Next step would be to create a test in  [`test/build`](https://github.com/pikapkg/snowpack/tree/master/test/build) to reproduce the error. Maybe [`test/build/html-environment-variables)`](http

[2020-09-08 04:49] FredKSchott commented on #1012
I have a bit of knowledge here! I believe this was introduced by a bad TODO comment that led to this PR: https://github.com/pikapkg/snowpack/pull/846

We actually should have kept using our fork this loader, since `env` had been added to it. By moving back to the official `open-wc` package, we lost `env` support. Reverting that PR (and handling any merge conflicts) would be the solution to this is

[2020-09-08 05:34] FredKSchott commented on #963
Fixed in https://github.com/pikapkg/snowpack/pull/966

[2020-09-08 05:34] #963 closed

[2020-09-08 08:44] ralphtheninja commented on #1012
@FredKSchott I could try an earlier version of `snowpack` before that change was introduced to verify regression.

[2020-09-08 10:29] ralphtheninja commented on #1012
I can confirm that downgrading `@snowpack/plugin-webpack` to version `2.0.4` fixes the problem, so indeed it seems #846 broke it.

[2020-09-08 22:59] gr2m commented on #1012
@ralphtheninja thank you for confirming!

Are you okay with using version `2.0.4` until we resolve this issue?

It would be helpful if you could try to narrow down the problem further, while we work on replicating the bug with a test for `@snowpack/plugin-webpack` on our side

@FredKSchott I've added it to the contribution friction thread: https://github.com/pikapkg/snowpack/discussions/958#discus

[2020-09-08 23:07] ralphtheninja commented on #1012
Absolutely. It bundles the files and environment variables are working, which is the most important thing for me right now. Are there any important updates to the plugin that I'm missing out on? Will get them later after fix anyway.

[2020-09-08 23:09] ralphtheninja commented on #1012
@gr2m Feel free to ping me in related issues if you don't mind. I'd like to learn more about snowpack internals.

[2020-09-08 23:28] gr2m opened #1019 "Help wanted: create tests for internal plugins"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/958#discussioncomment-72307
**/cc** @FredKSchott @drwpow @ralphtheninja

Snowpack's internal plugins do not currently have good test coverage. We would like to change that 😄

If anyone would like to contribute to Snowpack, comment which one of the plugins below you would like to claim, and create tests similar to what @Akimyo

[2020-09-09 02:46] MoonBall commented on #1019
I would like to add test for plugin-webpack.

[2020-09-09 19:18] gr2m commented on #1019
@ralphtheninja just to confirm, are you working on test for `plugin-webpack`?

[2020-09-09 19:51] ralphtheninja commented on #1019
@gr2m Nope, I never got started on it.

[2020-09-09 19:55] gr2m commented on #1019
no worries, @MoonBall would you like to work on it? If not I'd do it myself, I think it's the most important one to have tests right now

[2020-09-09 22:13] silverwind commented on #1002
Adding a separate server brings in some complexity for scenarios like when developing on a server with --watch mode with files served through a reverse proxy as one would now need to proxy to that other server too.

Maybe a solution like outputting (and updating) a `.json` file that can be polled in short intervals could be evaluated as well.

[2020-09-09 23:37] drwpow opened #1021 "Improvements to debug (`--verbose`) mode"
We recently added the ability to have debug logs [like so](https://github.com/pikapkg/snowpack/blob/master/snowpack/src/commands/dev.ts#L245):

[code]

When you run snowpack with the `--verbose` flag (`snowpack build --verbose` or `snowpack dev --verbose`), these extra debug messages show up. However, right now our debug messaging is limited as this was a relatively new add.

Note that `logger.deb

[2020-09-10 02:36] MoonBall commented on #1019
@gr2m I started `plugin-dotenv`. So you do it.

[2020-09-10 03:48] Akimyou commented on #690
#984 , Will support Vue + Typescript  in this merged PR.
Please try on master now.

[2020-09-10 05:02] axetroy commented on #690
@Akimyou Thanks for your great job!:+ could you add an example for this?

[2020-09-10 05:04] Akimyou commented on #690
Example:
https://github.com/Akimyou/snowpack/tree/feature/plugin-vue-enhance-demo/create-snowpack-app/app-template-vue-typescript

official template will be add after next release.

[2020-09-10 10:31] huruji opened #1025 "help wanted: import file from node_module package， but snowpack assume it is a package"
I import a package file from node_module，but snowpack assume it is a package, so install failed：

![image](https://user-images.githubusercontent.com/15937065/92718041-cc352b00-f393-11ea-83fb-b190be79df17.png)

my config:

[code]

please help me!! thx.

[2020-09-10 11:17] ralphtheninja commented on #1025
How are you importing it?

[2020-09-10 11:20] huruji commented on #1025
just

···js
import Button from '@ies/semi-ui-react/button/Button';
···

@ralphtheninja

[2020-09-10 12:09] ralphtheninja commented on #1025
Is this a private package/module? It would be nice if you could share a minimal example that shows the problem.

[2020-09-10 19:19] #1025 closed

[2020-09-10 19:21] FredKSchott commented on #1021
100% +1 on this idea, but while it is not techncially hard it does require some experience to know what is useful to log and what isn't.

Since it might take as long to decide what we want logged as it would to just go through and add the logs ourselves, I might knock this one out myself / with your help sometime today.

[2020-09-10 19:35] FredKSchott opened #1030 "HMR Error Handling & Recovery"
**Original Discussion:** https://discordapp.com/channels/712696926406967308/741379881887072378/753695905982578689

## Background

Next.js 9.4 has gotten some great credit for their new error handling flow built around Fast Refresh. Because Fast Refresh persists state across updates (and even errors for graceful recovery) they have this opportunity to show build error info directly on the page, and

[2020-09-10 20:01] drwpow commented on #1021
Yeah this came out of a convo with @gr2m on Tuesday while debugging; he said that he expected `--verbose` to reveal more info. In solving the issue we added a lot more debug statements, but also realized there are many other places that could use it that’s its own effort.

[2020-09-10 20:28] gr2m commented on #1021
I would suggest we make a code walk-through session out of this and record it. The two of you can comment on each part of the code, and we can agree on what a good logger message would be to express that. What do you think?

[2020-09-11 03:04] FredKSchott opened #1033 "polyfill the unbundled build"
## Background

Right now, we don't do any polyfilling of your application by default. Instead, we leave this to the user to handle themselves, usually by just adding the webpack bundler plugin (but also possible via the babel plugin, with the right babelrc config).

@drwpow has been working on https://github.com/pikapkg/snowpack/issues/838 to improve the unbundled build story, to the point that we

[2020-09-11 03:11] FredKSchott commented on #838
@jaredLunde any interest in porting it into our `@snowpack/plugin-optimize` plugin??

[2020-09-11 03:13] #1012 closed

[2020-09-11 03:29] FredKSchott commented on #1021
Yup, 100% agree this is good to tackle, just don't think it's something a beginner could tackle without the context of how everything fits together. If you know how it fits, you know which data is worth logging and which is worth skipping.

@gr2m my reason for suggesting that one of us just do it is that the amount of time spent discussing this doesn't feel === to value added over just going ahead

[2020-09-11 05:08] FredKSchott opened #1036 "Better test runner for Snowpack apps"
## Background

We use Jest in our Snowpack applications but kind of hate the experience we're delivering with it. It's a ton of extra config/tooling required to essentially re-create what we're already doing for users on Snowpack. If we could remove Jest, we'd get rid of something like 600-800 packages from the final install and bring our tests closer to what Snowpack is serving in the browser.

#

[2020-09-11 05:16] lukeed commented on #1036
FWIW the `uvu` runtime (all except `bin.js`) can be run within the browser without any transformations. Of course, this is much nicer once there's true ESM support (there's `uvu@next` for now, though).

Something I've been working on melds your 1 & 2 together: having `uvu` test files run in a background worker of your real/current browser. No Puppeteer needed. Instead, a file server needs to be sp

[2020-09-11 05:23] FredKSchott commented on #1036
I'm more interested in using uvu as a Node.js ESM test runner. There's a huge need for this: most of the currently popular test runners aren't going to be able to make the jump from Node.js CJS -> ESM.

If I need to spin up a browser to run my tests, then I'd probably rather use something built specifically for that like @web/test-runner.

[2020-09-11 05:27] FredKSchott commented on #1036
To build on your "melding 1 & 2" idea a bit: There's an interesting idea of separating a "dev" test runner from a "build" test runner.

- "dev" test runner: it's already assumed that you have a browser open, so somehow have the browser run your tests automatically on file change (probably via background worker like you said). Push "test" events to the browser via HMR when a file changes that needs

[2020-09-11 05:37] gr2m commented on #1021
sounds good 👍🏼

[2020-09-11 05:40] lukeed commented on #1036
Right, definitely. But the whole reason I made uvu is that I want to be able to use the same runner and assertions for both Node & browser code. Many of my modules are universal too, which means that I want to be able to pass the same source files through the same tests in different environments _or_ different source (`module` vs `browser`) through the same tests in different environments.

This i

[2020-09-11 14:41] jaredLunde commented on #838
For sure! I just took a peek at the plugin and it looks pretty straightforward. Anything specifically you'd like me to know before diving into a PR?

[2020-09-11 16:59] FredKSchott commented on #838
Awesome, thank you!

Yup, the `optimize()` hooks is pretty straightforward. @drwpow may have some tips but feel free to take a stab at it!

[2020-09-11 19:01] LarsDenBakker commented on #1036
For clarification, what web test runner primarily does is automate the process of opening browser pages (in parallel), injecting test files and reporting the results back to the terminal.

The actual "running" of the tests in the browser is taken care of by a test framework, we use mocha by default right now but this could be done by `uvu` as well for example.

By default we use puppeteer-core, au

[2020-09-11 21:42] FredKSchott commented on #1002
@silverwind interesting, yea, I think there will be limits to how many unique use-cases we can support, at least to start. The JSON file polling is a smark solution but out of scope until this has had a chance for the main websocket workflow to settle and bake a bit.

This was one of the reasons we wanted to start as opt-in, so right now `build --watch` remains unchanged and `build --watch --hmr`

[2020-09-11 21:50] FredKSchott opened #1041 "Configure HMR Port/URL"
**Original Discussion:** Follow up to #1008
**/cc** @MoonBall

## Background
In #1008, @MoonBall highlighted the issue that it is currently hard to configure the HMR URL on the client, and impossible to configure the port for the HMR server inside of Snowpack. These were both features that were intentionally skipped in the MVP, that should be revisited now.

## Feature Request

- [x] Add a config

[2020-09-11 21:51] FredKSchott commented on #1002
Update: #1008 was just merged, completing "Part 1" outlined above.

I'm going to close this for now since Part 2 is lower priority, still a bit unknown, and probably shouldn't be tackled until the main "Part 1" workflow has had a chance to bake a bit.

Spun off some follow up work identified in the PR here: https://github.com/pikapkg/snowpack/issues/1041

[2020-09-11 21:51] #1002 closed

[2020-09-12 06:30] FredKSchott commented on #1036
Update: I did some work in https://github.com/pikapkg/snowpack/compare/wip-esmpkg...wip-web-test-runner to connect @web/test-runner directly into our build pipeline (to avoid the need to spin up a new dev server every time we want to run tests).

The nice thing about this approach is that it's basically the exact same "build this file" code powering both option 1 & 2 above, so we could support bot

[2020-09-12 06:46] FredKSchott commented on #970
/cc @jeberly `build --watch --hmr` was just merged in #1002

[2020-09-12 06:48] FredKSchott commented on #312
Update: a first-class, programmatic API for the installer is being worked on in #1042

[2020-09-13 15:26] silverwind commented on #1002
It'd be for environments that are strictly firewalled to allow only a single port (443). I'd have a backend application that listens on that port that serves the `public` directory statically (among other tasks).

If the HMR server could be set up to use a predefined URL it should still be possible to proxy traffic to it on a single port. E.g. the backend application could proxy path `/hmr` to `lo

[2020-09-13 22:27] FredKSchott commented on #1002
I wonder if our current "proxy" config could already support this. Have you tried https://www.snowpack.dev/#dev-request-proxy

[2020-09-14 00:59] FredKSchott commented on #838
@jaredLunde I just realized that this is pretty important for us to get the new optimize logic released, so I ended up spinning up #1051 to tackle CSS & JS minification together. Thanks again for offering to help, and would love your review on that PR!

[2020-09-14 04:19] #838 closed

[2020-09-14 05:57] FredKSchott opened #1052 "Advanced build caching"
## Background

While Snowpack was originally released to explore the power of ESM-based build tooling, we quickly realized that one of the biggest benefits of this new paradigm was cache efficiency. If you can cache each file build individually, you have some guarantees that you can cache it indefinitely. If a file never changes and your Snowpack config never changes, you are technically guarantee

[2020-09-14 05:58] FredKSchott commented on #577
I believe that this was fixed in #669!

[2020-09-14 05:58] #577 closed

[2020-09-14 13:26] JennieJi commented on #1019
Hi @gr2m I would like to try `plugin-babel`

[2020-09-14 15:05] gr2m commented on #1019
Hi @JennieJi, I've signed you up. Thanks for looking into it 👍🏼

[2020-09-14 15:17] jaredLunde commented on #838
All good! Happy to see the plugin come to fruition.

[2020-09-14 15:37] gr2m opened #1054 "[CONTRIBUTING] Document --verbose and --reload CLI flags"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/958#discussioncomment-72335

[2020-09-14 15:48] gr2m commented on #1054
I've been wondering about [Run local snowpack in another project](https://github.com/pikapkg/snowpack/blob/master/CONTRIBUTING.md#run-local-snowpack-in-another-project). I always run my local snowpack binary using the full path, `npm link` is causing too many problems in my experience. I wonder if we should recommend it at all? What is the benefit of `npm link` over using the full path?

[2020-09-14 15:58] FredKSchott commented on #1054
I actually always use a full path and never touch npm link (I don't trust it :). It's really nice to have that guarentee that you're using what you expect:

[code]

[2020-09-14 16:01] gr2m commented on #1054
Yes, agree. I've been bitten by `npm link` a bazillion times. As we don't need it, shall we remove from CONTRIBUTING.md?

[2020-09-14 17:58] gr2m opened #1056 "[CONTRIBUTING] Explain `yarn --force`"
**Original Discussion:** call with @drwpow

It was very helpful for me to learn why the `yarn --force` is needed (once) after dependencies have been installed with `yarn`. Without that knowledge I used the `--force` all the time, just in case it might resolve the problem I've been currently working on.

I think it would be helpful to explain why the `--force` CLI flag is required for an initial se

[2020-09-14 18:13] FredKSchott commented on #1054
+1, works for me!

[2020-09-14 18:33] drwpow commented on #1056
@gr2m added this: https://github.com/pikapkg/snowpack/pull/1057

This may be a bit verbose; WDYT? Would love feedback.

[2020-09-15 05:47] #1054 closed

[2020-09-16 20:00] #312 closed

[2020-09-16 20:03] FredKSchott commented on #1030
It turns out, there's a weird behavior in our current file builder where errors aren't actually propagated anywhere. This makes it hard to catch them in the dev server, to propagate to the client via HMR.

I had hoped that this would be a good "help wanted" but at this point it will involve somewhat tricky refactoring. Going to tackle this myself to start, and hopefully leave a few follow-ups to i

[2020-09-16 20:18] jeberly commented on #1030
@FredKSchott I messed around a bit last weekend and bailed on it :). I might be able to help with some of the frontend bits.

[2020-09-16 21:00] FredKSchott opened #1067 "External packages should not ignore Node.js builtins (ex: 'fs')"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1063
**/cc** @pkaminski

`installOptions.externalPackages` is meant to mark certain dependencies as "external". For some reason, Node.js built-in modules (like path, fs) don't respect this, and error out even if they exist in the external array. They should respect this configuration like any other package.

[2020-09-17 21:02] aaronshaf opened #1082 "Including live Snowpack dev app into another app"
I did an `npm start` on my snowpack app.

Elsewhere I am including this app into a monolith (for a proof of concept).

[code]

When I do this I get:

[code]

Any ideas? My current workaround is:

[code]

[2020-09-18 02:12] matthoffner commented on #1082
@aaronshaf Thanks for sharing this, I ran into this today and your workaround resolved the issue. Maybe that can be included in the react-refresh plugin?

[2020-09-18 08:16] MoonBall commented on #1041
I would like to do this.
For the feature 2, Why don't we automatically insert HMR script code to HTML file if user set hmr to `true`?

[2020-09-18 21:41] FredKSchott commented on #1041
The client defaults to the current origin/domain/port, so no need to configure anything in the default case.

[2020-09-18 21:47] FredKSchott commented on #1041
If we move to an official configuration value for the port, then we can automatically configure the frontend for most users to use that port. But, we'll still want a way for the client to override this value (example: if the HMR server is hosted on a completely different URL).

Maybe something like:

[code]

[code]
agree that we can automatically insert the HMR script.

[2020-09-18 22:03] #1030 closed

[2020-09-20 02:23] FredKSchott opened #1094 "[esinstall] "global is not defined" should hint user about `--polyfillNode` option"
**Original Discussion:** Follow up from https://github.com/pikapkg/snowpack/discussions/1085
**/cc** @briwa

This is a follow up to an issue raised by @briwa, where the solution to "global is not defined" was not obvious. We should be able to detect this either ahead of time or inside the `onwarn` handler, and raise a warning that include info on how to resolve with this flag/config option.

[2020-09-20 03:07] #1067 closed

[2020-09-20 03:46] MoonBall commented on #1019
@gr2m I would like to work on `plugin-react-refresh`.

[2020-09-20 04:42] aMarCruz commented on #666
@FredKSchott , @DiCaius , it's simple.

Please look at [flatten-brunch-map](https://github.com/aMarCruz/flatten-brunch-map/blob/master/index.js) code, it is a specific tool for [Brunch](https://brunch.io), but the idea is the same.

[code]

npm: <https://www.npmjs.com/package/flatten-brunch-map>

[2020-09-20 09:01] PlkMarudny commented on #752
It is still not working in 2.11.1

[2020-09-20 17:06] gr2m commented on #1019
You got it, thank you!

[2020-09-21 02:52] FredKSchott commented on #666
We have a PR out for this! #1048

[2020-09-21 02:55] FredKSchott commented on #752
Sorry @PlkMarudny, I can no longer reproduce this error. Did you try running with `snowpack dev --reload`?

[2020-09-21 03:11] FredKSchott commented on #1019
Woo! This is exciting to see! @gr2m got one that I can take a look at? Maybe `plugin-run-script` & `plugin-build-script`?

[2020-09-21 04:10] gr2m commented on #1019
Sure, just update the issue description for the one you are working on

[2020-09-21 06:03] PlkMarudny commented on #752
Yes, this helps. Basically every time a new import is added, for example from "svelte/store", Snowpack should be re-run with the --reload flag. After adding an import from "svelte/transition", again. Is this how it is supposed to work in general?

[2020-09-21 06:26] FredKSchott commented on #752
Yes, “—reload” tells Snowpack to rescan for new deps. This used to be automated, but we removed it since it didn’t work super well. Hope to add it back soon!

[2020-09-21 17:05] PlkMarudny commented on #752
Ok, this is fine. Anyway, it is then working, thanks a lot.

On Mon, Sep 21, 2020, 10:26 Fred K. Schott <notifications@github.com> wrote:

[2020-09-22 01:56] Akimyou commented on #690
#1088

[2020-09-22 01:57] Akimyou commented on #690
PR here: #1088

[2020-09-22 09:01] wangyajundev opened #1109 "Does not support lower Android versions ?"
Does not support lower Android versions ?
Android 5.x error

[2020-09-22 16:34] geoyws opened #1112 "How should Snowpack be used to achieve Webpack’s Module Federation?"
[Webpack 5's Module Federation](https://www.youtube.com/watch?v=D3XYAx30CNc)

Will I be able to somehow serve my SnowpackRepo2's App.tsx file at a certain endpoint using a web server (or snowpack's `yarn start`) and be able to import it and its npm dependencies (somehow) into SnowpackRepo1's App1.tsx?

E.g.:

`import FooDefault from "local host:3001/src/App.tsx`

My colleagues and I are planning t

[2020-09-23 08:43] konyee95 opened #1116 "Compile multiple svelte app with snowpack?"
I have 2 svelte apps running on different endpoint, is it possible to use snowpack to build both of them? Would be great if anyone could provide with example.

[2020-09-23 14:23] biggledfred opened #1118 "Import link url in html, space being added after comma"
I was trying to understand why my font weights were not being behaving as expected.  After a half an hour of confusion I realised that something (I assume webpack) is adding spaces after commas in the font url.

Link in the Editor:
![image](https://user-images.githubusercontent.com/67560754/94025338-4ca25580-fdb0-11ea-85f6-23483be18e43.png)

Link in the browser once bundled:
![image](https://user-

[2020-09-23 14:44] drwpow commented on #1118
@biggledfred This is certainly unexpected! Will have a look to reproduce this. In the meantime, if you could post your Snowpack config (which plugins, presets, and template you’re using), that’d be helpful

[2020-09-23 14:50] drwpow commented on #1116
Yes! Snowpack has a `--config` flag, so you could run `snowpack build --config [app A]/snowpack.config.js && snowpack build --config [appB]/snowpack.config.js` for a production build.

You could also use the `concurrently` package along with the `--config` and `--watch` flags to watch 2 apps simultaneously (or more!).

As per the issue template, we like like to keep questions in the **Discussions*

[2020-09-23 14:55] drwpow commented on #1112
Yes! You can actually do this now (you can also load npm dependencies from a public CDN with [skypack.dev](https://skypack.dev)). That’s the whole advantage of ES Modules: there’s module federation built-in, in a sense! So long as your server allows CORS this will work.

Note that this will work for browsers, but webpack can’t currently load modules from URLs, so you’ll have to use Rollup (or Snow

[2020-09-23 14:55] #1112 closed

[2020-09-23 14:57] drwpow commented on #1109
@wangyajundev I’m not sure I understand the question. Are you saying an old version of Chrome on Android 5.x doesn’t understand [ES Modules](https://caniuse.com/es6-module)?

[2020-09-23 15:05] drwpow opened #1120 "Move `svelte` to devDeps in templates"
For the Svelte templates, moving `svelte` to devDependencies could cut down on incremental build times as it’s not needed at runtime. Update the templates to reflect this.

_Originally posted by @headphonejack in https://github.com/pikapkg/snowpack/discussions/1119_

[2020-09-23 18:00] FredKSchott opened #1121 "Add the ability to clear cache on some file change"
/cc @ParamagicDev @drwpow

## Background

By default, Snowpack will cache individual file build results. When the file changes, the cache is cleared and the file is rebuilt the next time that it is requested.

This works great for most tools, but for some tools, one file change may impact another file entirely. Currently, a related file is never detected as a change, never cleared from the cache,

[2020-09-23 18:17] FredKSchott commented on #1120
Closing until https://github.com/pikapkg/snowpack/discussions/1119#discussioncomment-83765 has an agreed-on resolution, if any is needed

[2020-09-23 18:17] #1120 closed

[2020-09-23 18:19] FredKSchott commented on #1118
oh wow, that is very strange! +1 for a simple repro if you can create one

[2020-09-23 18:20] #1118 closed

[2020-09-23 18:24] #1109 closed

[2020-09-23 18:39] FredKSchott commented on #1082
Oh, interesting. This is coming from the "@snowpack/plugin-react-refresh" plugin (fast refresh for React).

We assume that we own the entire app so we do some set up in the HTML of every application.  Fast Refresh requires this setup in the HTML: it won't work if "react-refresh/cjs/react-refresh-runtime.development.js" hasn't been injected into the HTML.

The quick solution here for you is to remo

[2020-09-23 18:51] FredKSchott opened #1122 "Add ability for plugins to provide virtual files"
**Original Discussion:** https://github.com/pikapkg/snowpack/issues/1082
**/cc** @aaronshaf

## Background

Some plugins have a need to inject code into your site. React Fast Refresh is a good example of this, it current transforms every HTML file to add the following:

[code]

This works well for us, but some users are trying to provide their own HTML for web development. This causes issues in th

[2020-09-23 18:57] FredKSchott opened #1124 "[Docs] Add section to the documentation site on "installing non-JS packages", fix broken link"
Original discussion: https://github.com/pikapkg/snowpack/discussions/1113
Add back a **Troubleshooting** section to the documentation site on "#installing-non-js-packages" to fix broken link

[2020-09-23 18:57] #1082 closed

[2020-09-24 08:22] geoyws commented on #429
FWIW I'm using https://github.com/cleric-sh/repro 's method for my monorepo and it works.

[2020-09-25 01:21] ParamagicDev commented on #670
I have a `v0.1.1` out in the wild of using Rollup for production via a plugin. Would love to get some additional people to try it out.

https://github.com/ParamagicDev/snowpack-plugin-rollup-bundle

[2020-09-25 07:57] osdiab commented on #440
hmm... kinda sad to see this - i was trying out moving my company's typescript create-react-app project to snowpack but across the board lack of support for named exports means that an overwhelming number of libraries we depend on don't work with snowpack and for a project of our size checking to see if snowpack has an issue with each import by running snowpack dev takes a really long time, not to

[2020-09-25 23:13] FredKSchott commented on #440
We're just following Node.js behavior here, but I do get your frustration. It's a technical limitation: CJS named exports are defined at runtime, so can't be statically analyzed.

However, I've heard rumors that Node.js is working on a pre-pass scanner that will do it's best to detect named exports automatically from Common.js packages. We'll wait until that's official before we try to implement o

[2020-09-26 01:05] #970 closed

[2020-09-26 18:04] FredKSchott commented on #1036
Update: Thanks to some work by the @web/test-runner team in https://github.com/modernweb-dev/web/issues/594, we are now able to proxy test requests directly to Snowpack, meaning test runners won't need to re-implement a bunch of logic on their end to test against Snowpack.

There are still some TODO's left on the MVP, but you can see the current state in https://github.com/pikapkg/snowpack/tree/wi

[2020-09-27 07:25] FredKSchott commented on #1056
added, but also no longer needed due (see CONTRIBUTING for latest)

[2020-09-27 07:25] #1056 closed

[2020-09-27 07:28] FredKSchott commented on #880
Added in #998

[2020-09-27 07:28] #880 closed

[2020-09-27 07:28] FredKSchott commented on #690
Completed in #1088. Thanks @Akimyou !

[2020-09-27 07:28] #690 closed

[2020-09-28 06:09] FredKSchott opened #1144 "Do not strip non-JS files from `install` allowlist on build"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1081#discussioncomment-82689
**/cc** @yukulele

[2020-09-28 11:15] vadimyen commented on #325
I have the same error with pnpm by now

[2020-09-28 23:29] FredKSchott commented on #325
https://github.com/pikapkg/snowpack/pull/1137

This PR should solve the error by removing the "extends" usage in our Create Snowpack App templates

[2020-09-29 09:42] zhusjfaker commented on #969
c.ts
export * from './a';
export * from './b';

index.ts
import { TestBComponent } from './c';

snowpack will install  a.ts & b.ts
treeshake is not work

[2020-09-29 09:43] zhusjfaker opened #1153 "treeshake is not work"
c.ts
export * from './a';  // TestAComponent file
export * from './b';  // TestBComponent file

index.ts
import { TestBComponent } from './c';

snowpack will install  a.ts & b.ts
treeshake is not work

[2020-09-29 18:17] #1153 closed

[2020-09-30 17:46] joshwilsonvu commented on #1052
I've only made a small contribution to Snowpack, but I'll share some thoughts anyway!

Babel discusses the caching issue [here](https://babeljs.io/docs/en/config-files#apicache), and points out that `.js` config files are difficult to cache. I would recommend not caching any sort of `.js` config file, because a change in a dependency could change behavior without any modification to the config fil

[2020-09-30 18:25] FredKSchott opened #1165 "`import.meta.context`, `import.meta.importAll` or import globs"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/680
**/cc** @ParamagicDev

We've seen several discussions now pointing to the need/desire for an API similar to webpack's `require.context` API. [Their docs aren't super clear](https://webpack.js.org/guides/dependency-management/#requirecontext), and there's a lot of CJS/webpack baggage that we could leave behind from their A

[2020-09-30 18:59] ParamagicDev commented on #1165
I think `import.meta.importAll()` is definitely the most clear of the 3. Thank you for spinning up this discussion! My dream is to drop Babel and just be able to use ESBuild on projects.

[2020-09-30 19:00] ParamagicDev commented on #1121
Just realized I never replied to this. I think this is one of those things that should definitely be opt-in. I feel most people will never need this, but in some instances it could definitely be useful.

[2020-09-30 21:05] FredKSchott commented on #1165
One thing that I thought was a con but may actually be a pro: if `import.meta.context` returns the true final file url (foo.css), then you can't pipe it directly to an import because you can't import non-JS. if `import.meta.context` returns the proxy URL (foo.css.proxy.js) then you can import it, but now you don't actually have a reference to the file itself. It would need to be clear that the res

[2020-09-30 21:06] FredKSchott commented on #1165
Also just to clarify, these names themselves need to be finalized (aka bikeshed). `import.meta.importAll()` could just as well be `import.meta.importCollection()` for example. tbh I like the idea of using the term "collection" to describe this feature

[2020-10-02 04:41] FredKSchott commented on #1052
All contributions are appreciated, regardless of size! :D

Great points! I bet we could get over 90% confidence here by also always clearing the cache when dependencies change (we already have a check for this in Snowpack) + giving you a way to mark other files to be watched. For example, if you load some config file outside of your working directory, you could add config that tells Snowpack to wa

[2020-10-02 12:38] alubbe commented on #1052
On top of just rebuilding after any changes to the dependencies, can't we fix the config fingerprinting/invalidating issue by not using fingerprints of the file(s), but instead build up a complete configuration object in memory from all files/settings/environment variable/etc. and then finger-print that?

[2020-10-02 14:56] joshwilsonvu commented on #1052
Even if we do build up the complete configuration objects in memory, it's no silver bullet. There may still be pathological cases that prevent it from working 100% of the time (ex. Babel can't detect changes in plugin implementations). I've got nothing against fingerprinting the complete loaded config, but the extra dev time and run time it takes to do that may or may not be worth dropping a 5% fa

[2020-10-02 15:59] FredKSchott commented on #1052
Yea, I even looked at `@babel/core` and it doesn't give you a clear API to find out which config files you loaded from. You're right that we could load the options object ourselves, and do some serialization of the object, but it's slightly less explicit when that would or wouldn't work.

I think the design that's appearing from this conversation is something like:

- If your node_modules director

[2020-10-02 16:00] FredKSchott commented on #1052
Also, I'm starting to like the idea of going full Elon Musk and calling this `--hyperspeed` mode, or something equally silly.

[2020-10-02 16:52] FredKSchott opened #1182 "Interested in contributing? Start here! 🌮🌮🌮"
Welcome, open source explorer! This is the official repo for Snowpack (and other related projects).

We're constantly working to improve Snowpack and would love your help!

#### How to get involved

- **Comment in this thread:** If you don't know where to start, we'd love to help you find an impactful project to work on. Just say hi and tell us a bit about how you found the project + what you migh

[2020-10-02 17:44] alubbe commented on #1052
I like `--hyperspeed` - it also implies that the users have to pay attention or things might wrong ;)

One more thing about our codebase: we have 1000s of jsx files, but only 100s of dependencies. That makes it pretty slow to load in build mode, even over http2. Would it be possible to bundle together all of our jsx files into one (without any optimizations whatsoever), but keep the dependencies s

[2020-10-02 17:51] FredKSchott commented on #1052
100s of dependencies??? 🙀 Hope that this is a typo!

When you say "load in build mode", do you mean that the initial build itself takes a long time, or that after the initial build when you go to load the site in the browser that takes a long time? Is this a problem in the final build, or during development? And lastly, are you seeing this slow load time when you load files from your own machine o

[2020-10-02 18:20] FredKSchott opened #1187 "Add support for streaming dev logs"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1145#discussioncomment-89549
**/cc** @alubbe

Snowpack's dev console assumes that it's the only thing running, and is aggressive in clearing the console when it has an update. This is what allows us to have live-updating "dashboard" sections of our output, for tools like TypeScript. But, we've learned that this also creates p

[2020-10-02 20:16] melissamcewen opened #1189 "Add snowpack.config.js boilerplate to templates"
For consistency and usability we should add these to all of the official templates. See [discussion here](https://github.com/pikapkg/snowpack/pull/1186/files/77ff30a0f5b93c117ae835693f45248a8b835b6d#diff-c600b3ce845f275e0897658df49f8270).

[2020-10-02 22:57] FredKSchott commented on #1189
Every snowpack config in a app-template-* directory should follow this format (in this order, including `/* ... */` if no options needed):

[code]

[2020-10-02 23:08] FredKSchott commented on #1052
Alright, updated the main issue with an updated plan. Would love any help on any of these broken-down steps!

[2020-10-03 04:29] pvande commented on #1187
This was on a shortlist of notes I had from my exploration this morning — glad to see it’s still being kept in mind!

(My own use case involves running Snowpack headlessly in a Docker container.  The container logs blow up when practically every line logged writes a screen full of data, and it’s difficult to follow the goings on with so much repetition.)

[2020-10-03 20:23] thescripted commented on #1182
Hey, glad you posted this! I found this project last month through CascadiaJS, and have been looking into finding ways to contribute since then. I have a pretty broad interest across the board, including how Snowpack find and cache files, it's build process, and the infrastructure underneath some of these features.

[2020-10-04 09:14] ralphtheninja commented on #1182
The last two links are incorrect.

[2020-10-04 13:40] remorses commented on #1122
I think this is a good idea

My use case is this:
I want to implement a sort of "nextjs using snowpack" where routes are defined by the files system, to do this i would need to inject a custom `index.js` file with custom code for the routing

The problems that could arise are:
- what if a file with same name exists? maybe add an option to overwrite it
- should this new file be processed by load an

[2020-10-04 23:27] FredKSchott commented on #1122
@remorses you can also have a look at this experimental feature to connect middleware directly into Snowpack's dev server: https://github.com/pikapkg/snowpack/blob/master/snowpack/src/types/snowpack.ts#L156-L160

[2020-10-05 00:01] FredKSchott commented on #1182
@ralphtheninja fixed! Thanks for reporting.

@thescripted thanks for posting, happy to hear that you're finding the project interesting! Writing tests can be a great way to learn how something works internally, and we have an ongoing effort to add more tests here: https://github.com/pikapkg/snowpack/issues/1019

These two are also open issues and would be small enough to get started on:
- https://

[2020-10-05 01:05] #1124 closed

[2020-10-05 01:12] FredKSchott commented on #1121
Did some more thinking on this, and leaning strongly towards the second code example's programmatic interface vs. a static glob interface. Here's the Sass workflow that I'd like to support:

[code]

[2020-10-05 01:21] FredKSchott opened #1213 "Make internal transforms source-map compliant"
Now that https://github.com/pikapkg/snowpack/pull/1048 has merged, we can add full sourcemap support. All that's needed is to convert our current dev/build string modifications to use https://www.npmjs.com/package/magic-string.

- [ ] `wrapImportMeta` (all other proxy files are okay / out of scope for now, since those were not JS to begin with)
- [ ] `createImportResolver` (will need to use the ma

[2020-10-05 01:44] FredKSchott opened #1214 "Add "integrity" attribute for added hmr scripts"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1156#discussioncomment-89918
**/cc** @sanmai-NL

For CSP, we should add the correct "integrity" attribute to the script tags. This can be generated by the dev server itself and injected with the snippet itself.

See: https://github.com/pikapkg/snowpack/blob/master/snowpack/src/build/build-import-proxy.ts#L78

[2020-10-05 02:10] ParamagicDev commented on #1121
@FredKSchott I like the idea of adding it as a plugin rather than a config option. The programmatic version looks pretty good to me!

[2020-10-05 08:53] ParamagicDev commented on #1121
From our discord channel Shubham posted the following blog post which uses `node-chokidar-sass` which could also be an option as well.

https://shubhamverma.dev/common-errors-in-react-project-when-running-with-snowpack

[2020-10-06 00:24] FredKSchott commented on #1121
added in #1225!

[2020-10-06 04:54] #1187 closed

[2020-10-06 15:10] FredKSchott opened #1228 "docs: some config links broken by recent config change"
It looks like a bunch of links on the page to `#installoptions`, `#buildoptions`, etc. were broken when the headers were renamed to `#config.installoptions`, `#config.buildoptions` etc.

@melissamcewen can you take a look at this and fix, by either returning the header names to old style or updating all links?

[2020-10-06 16:35] thescripted commented on #1019
I feel pretty comfortable working on tests for `plugin-postcss`

[2020-10-06 16:38] gr2m commented on #1019
Great, all yours @thescripted!

[2020-10-07 14:10] mauricekraus commented on #1144
Hey:) I would be happy to start contributing to snowpack :). I'll try my best to resolve this issue

[2020-10-07 16:22] #1228 closed

[2020-10-07 20:41] drwpow commented on #1019
Just added a test for `plugin-svelte` in #1241!

[2020-10-07 20:58] FredKSchott opened #1245 "scanImports() function reads all files at once, can cause EMFILE in larger projects"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1244
**/cc** @N8-B

We use `p-queue` in the site builder for this exact reason, we should bring that same library into `scanImports()` to make sure that we are never loading more than X files at once in parallel. Node.js is great at I/O, so I think this number can be pretty high.

This is a great issue for anyone to tackle si

[2020-10-07 21:06] FredKSchott commented on #1144
Thank you! Let me know if I can help provide any guidance!

[2020-10-07 23:38] melissamcewen opened #1247 "Aliasing path leads to 404 on TS Snowpack builds"
If you alias a directory `./src/helpers` as `helpers` you should be able to use `import helpers from 'helpers'`. By editing both the Snowpack config

[code]
and the Typescript config
[code]

Result is `Loading failed for the module with source “http://localhost:8080/helpers.js”`. This also occurs even without Typescript.

See discussion #1218

[2020-10-08 00:45] #1121 closed

[2020-10-08 06:52] N8-B commented on #1245
Thanks for opening up this issue. I'll look into it today and run tests on our code base and deploy environment.

[2020-10-08 20:09] jsefiani commented on #440
I basically experience the same issue with `graphql-request`. I tried do a default import but that wouldn't work either?
I keep getting this message: `The requested module '/web_modules/graphql-request.js' does not provide an export named 'gql'`, what should I do because I really need that library to work? @FredKSchott

[2020-10-08 20:20] FredKSchott commented on #440
You know what, now that we have that error in the browser, we can add some extra debugging info to it! Something like:

[code]

[2020-10-08 20:24] FredKSchott commented on #440
Although, @jsefiani can you confirm that you're on the latest version of Snowpack? We recently added automatic CJS named export detection, and it looks like it should be picking that up:

<img width="820" alt="Screen Shot 2020-10-08 at 1 24 40 PM" src="https://user-images.githubusercontent.com/622227/95509665-a175cc80-0969-11eb-8b07-50df1a6a5088.png">

[2020-10-08 20:27] jsefiani commented on #440
Thank you for the quick reply, that resolved my issue! Nope, I'm not on the latest version, will update it shortly (current version: 2.11.0). Thank again mate!

[2020-10-08 20:30] FredKSchott commented on #440
Awesome! Yea if you update, that namedExports config should no longer be needed. Cheers!

[2020-10-08 20:48] gr2m commented on #1019
@MoonBall just checking in, no rush: are you still working on / planning to work on plugin-react-refresh?

[2020-10-09 22:48] gr2m commented on #1019
I'll work on the last unclaimed one: `plugin-optimize`.

Wonderful to see this all come together, thanks a bunch everyone 💐

[2020-10-09 22:50] gr2m commented on #1019
actually `plugin-build-script` is up for grabs again ☝🏼

[2020-10-10 00:07] noseratio opened #1263 "Snowpack doesn't seem to support private ('hashed") class methods"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1209#discussioncomment-90321
**/cc** @FredKSchott

Snowpack doesn't seem to support [private class methods](https://v8.dev/blog/v8-release-84#private-methods-and-accessors):

[code]

Building it with `snowpack build` fails with:

[code]

`snowpack.config.json`:

[code]

Tried with Node v14.13.1.

Repo to reproduce: https://gi

[2020-10-10 05:51] FredKSchott commented on #1245
Fixed by #1256

[2020-10-10 05:51] #1245 closed

[2020-10-10 05:54] FredKSchott commented on #1036
Closing as done now that we have #1259. Once `uvu` supports native ESM on master and Node's experimental loader hooks bake a bit more, we can look into moving onto `uvu` for users who want Node-native tests.

[2020-10-10 05:54] #1036 closed

[2020-10-10 06:28] FredKSchott commented on #670
A huge thanks again to @ParamagicDev for his work on https://github.com/ParamagicDev/snowpack-plugin-rollup-bundle ! I went ahead and added links to our docs and README. We'll leave this as a community plugin for now, with an eye to create an official one down the road if there is enough interest.

[2020-10-10 06:28] #670 closed

[2020-10-10 06:38] FredKSchott commented on #1021
Added a basic base to the remaining dev & build commands in fa4e76a4. Anyone feel free to add more going forward!

[2020-10-10 06:38] #1021 closed

[2020-10-10 06:41] FredKSchott commented on #1019
Yup, anyone feel free to grab it! It should be pretty similar to the run-script tests

[2020-10-10 07:43] aishwaryarao712 commented on #1214
Hi, can I work on this issue if it's not fixed yet?

[2020-10-10 07:59] FredKSchott commented on #1214
Please!

[2020-10-10 15:03] marpme commented on #1263
I think this a private class access issue results from an incapability of the actual `rollup` dependency that we are using.
Ref: https://github.com/pikapkg/snowpack/blob/30dfc5ce072edbcccc5a2b73631a8fdbd4a29b1b/esinstall/src/index.ts#L437-L463

[2020-10-10 18:35] FredKSchott opened #1271 "[plugin-sass] files starting with '_' prefix not getting picked up correctly"
Original discussion: #1266
/cc @heikkilamarko

Needs triage to find out why these files error, and aren’t being picked up by Snowpack on file change.

[2020-10-10 19:48] heikkilamarko commented on #1271
Partial sass files (those starting with underscore) are by convention imported without underline character. Because of this, the `importedByMap` in the plugin implementation ends up containing incorrect filenames.

For example, if I have a partial named `_myfile.scss`, it will be imported as follows:

[code]

[2020-10-10 20:59] crubier commented on #194
Not sure if I am doing something wrong, but Create Snowpack App with react + typescript does not work with yarn pnp in dev mode. Build is ok, but dev fails with:

[code]

[2020-10-10 21:01] crubier commented on #194
Repro is there:

https://github.com/crubier/snowpack-test

[2020-10-10 21:01] heikkilamarko commented on #1271
As mentioned in the original discussion, the second problem is that `npm run build` throws an error.
The reason seems to be that the plugin hands also the partial files to the sass compiler. If I change the code to ignore partials, the build succeeds.

[2020-10-10 22:17] crubier commented on #194
Ok for the record, the fix is to add this in snowpack.config.js:

[code]

[2020-10-10 23:12] cucar opened #1272 "hmr-client bug"
I want to report a bug in hmr-client.js. It tries to show the error overlay with this code:

createNewErrorOverlay({
    title: 'Unhandled Runtime Error',
    fileLoc,
    errorMessage: event.message,
    errorStackTrace: event.error.stack,
  });

I'm not sure why it happens but this particular error thrown (ResizeObserver loop limit exceeded) does not have event.error and therefore it fails. Stac

[2020-10-11 01:19] FredKSchott commented on #194
Thanks for finding this! I'm surprised, according to this table Rollup is supposed to support yarn pnp by default: https://yarnpkg.com/features/pnp#pnp-loose-mode

[2020-10-11 01:22] #1214 closed

[2020-10-11 01:30] FredKSchott commented on #1272
Makes sense, and seems like an easy fix. Would you like to make the change or would you like me to?

https://github.com/pikapkg/snowpack/edit/master/snowpack/assets/hmr-client.js#L214

[2020-10-11 04:51] FredKSchott commented on #1263
Fixed in #1270 (upgrading esbuild added support for this automatically).

I also pushed a quick fix (d34c1940) to add support in the React Fast Refresh plugin, and preact prefresh has a PR out to do the same: https://github.com/JoviDeCroock/prefresh/pull/203

[2020-10-11 04:51] #1263 closed

[2020-10-11 05:35] FredKSchott opened #1276 "Built-in production optimizations (incl. bundling)"
## Background

Snowpack has traditionally supported site optimizations via official and 3rd-party plugins. We launched with an official Parcel plugin, quickly added an official webpack plugin, and now have a great community Rollup plugin. This is a direction that we're really happy with since it has given us the freedom to experiment as the community grows.

Now that we have some idea of what site

[2020-10-11 05:58] FredKSchott opened #1277 "create-snowpack-app: interactive mode"
## Background

Create Snowpack App has come a long way, and we now have 10+ official templates and many more community ones. As our community & ecosystem have grown, we've run into a few problems:

1. TypeScript & JavaScript create 2x the number of templates, one for each language. They look almost identical, but need to be maintained individually.
2. CSA apps set you up with an application struct

[2020-10-11 06:05] FredKSchott opened #1278 "refactor: convert all file paths to file URLs"
## Background

We have a ton of trouble maintaining file paths resolution logic across Windows, Mac, and Linux. Many of us develop on Unix systems, where paths and URLs can be treated similarly. But windows paths are different, and our code can break if we aren't incredibly, INCREDIBLY careful with every line of file path manipulation. Even when we are careful, it still breaks.

Node added support

[2020-10-11 06:19] FredKSchott opened #1279 "Document native asset module reference style"
Webpack 5.0 introduces new support for asset references that doesn't overload the `import` keyword:

https://webpack.js.org/blog/2020-10-10-webpack-5-release/#asset-modules

We have always supported both, but due to developer familiarity we only ever really push the first style (webpack's old way). If Webpack's ready to move to the new way, then what are we waiting for! :)

## Feature Request

No

[2020-10-11 06:25] FredKSchott opened #1280 "documentation: Web Worker Support"
## Background

Now that Webpack can detect native web worker usage (`new Worker(new URL("./worker.js", import.meta.url))`) and bundle automatically, we can claim native web worker support. We've always had this support in snowpack, but due to the lack of support for this in older browsers you were limited by where you could run your application in production.

Now that Webpack 5 automatically bund

[2020-10-11 15:33] cucar commented on #1272
Thank you. I don't have time for a PR right now. I would appreciate it if you fix it. 
Thank you,Cagdas
    On Saturday, October 10, 2020, 06:30:18 PM PDT, Fred K. Schott <notifications@github.com> wrote:

Makes sense, and seems like an easy fix. Would you like to make the change or would you like me to?

https://github.com/pikapkg/snowpack/edit/master/snowpack/assets/hmr-client.js#L214

—
You are

[2020-10-11 20:18] #1271 closed

[2020-10-11 23:49] #1272 closed

[2020-10-12 02:16] FredKSchott opened #1286 "Cannot mount folder from inside node_modules/.cache folder"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1267
**/cc** @bluebrown

This isn't a primary use-case, but if it's easy to support, we should. See original discussion for more reproduction info:

[code]

[2020-10-12 05:29] FredKSchott opened #1287 "Scan & rewrite HTML <link href=""> tags for CSS package imports"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1265
**/cc** @poppinlp

We should add some support for importing a CSS file via `<link>` tag directly from a package, since link tags do have order. Something like:

[code]

This would allow you to reference package CSS files when you really need a `<link>` element.

[2020-10-12 15:43] FredKSchott commented on #1033
Merging into #1276 to tackle there

[2020-10-12 15:43] #1033 closed

[2020-10-12 20:37] bluebrown commented on #1286
Hi Fred,

I found out that node_modules is by default ignored based on this code snippet and below piece of documenation

builds.ts line 382

[code]

Docs

[code]

Based on this my idea was to use an empty array for the exclude key but it doesnt work

snowpack.json

[code]

So I check the config.ts file and I found this

config.ts line 34
[code]

So if one wanted to solve to very simple, the node_

[2020-10-12 22:51] FredKSchott commented on #1286
Oh of course! Great catch, that's exactly what's happening.

As a workaround, I wonder if adding this to your config would solve the problem:

[code]

[2020-10-12 23:07] bluebrown commented on #1286
Hi Fred,

that is actually one thing that I have tried but the result was not what I expected. On second thought it makes sense though.

This will tell now snowpack to ignore everything that's not exactly named `"!node_modules/.cache/_11ty/**"`. That's the whole project.

The result is that everything will be ignored, including the` node_modules/.cache` directory, since this is still ignored from

[2020-10-12 23:17] FredKSchott commented on #1286
What about `"**/node_modules/.cache/_11ty/**/*"`? It should work in the same array as ALWAYS_EXCLUDE, so maybe it just needs to be fiddled with a bit?

[2020-10-13 00:08] bluebrown commented on #1286
You are right, it should technically work, looking at the glob package.

First the excludes are merged.

config.ts line 567
[code]
and then used as argument for `glob.sync`

[code]
But when I try to use this in the snowpack config, it doesn't work for some reason. I have created [this sample repl](https://repl.it/talk/share/Glob-Test/57653) that shows that it should work, if this would be all ther

[2020-10-13 00:24] bluebrown commented on #1286
I think it's not possible to do that with the glob package. See this repl: https://repl.it/talk/share/Glob-Test/57653

I have replicated roughly what is happening with the snowpack config. Below shows the actual code from snowpack.

config.ts line 567

[code]

builds.ts line 382

[code]

[2020-10-13 03:33] FredKSchott commented on #1182
Update: with the webpack 5 release, we have some improvements that we can make to documentation to better support web workers and file asset references! Great for first contributors!

- https://github.com/pikapkg/snowpack/issues/1279
- https://github.com/pikapkg/snowpack/issues/1280

Also straightforward refactorings can sometimes be a good place to start. We want to prevent future windows bugs by

[2020-10-13 17:54] FredKSchott opened #1295 "Allow `next` argument to `requestHandler`"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1294
**/cc** @Rich-Harris

@Rich-Harris wrote a great issue on our discussion board, so I'm just going to copy paste it here without edits. This use-case makes sense, and should be straightforward to add an optional `next` argument that we call instead of sending a 404s ourselves. Our dev server should use this method as well

[2020-10-13 18:28] FredKSchott opened #1296 "optimize 304 ETag handling"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1269
**/cc** @cucar

Currently, we support cached 304 responses when the browser sends back an etag. This is all handled automatically by Snowpack. However, 304 responses still do some work to create the response before checking whether it should be sent or not.

Instead, we could keep a map of all valid Etag headers, and do

[2020-10-13 20:14] #1295 closed

[2020-10-13 20:27] FredKSchott commented on #1295
Thanks @Rich-Harris! Publishing this as `snowpack@next` now: https://github.com/pikapkg/snowpack/actions/runs/305149870

[2020-10-13 23:33] gr2m commented on #1019
I'm looking into `plugin-build-script` myself now

[2020-10-14 00:00] gr2m commented on #1019
I'll close the issue it's no longer actionable for people looking to contribut.

@thescripted @MoonBall let us know in case you won't be able to submit pull requests for the respective tests

[2020-10-14 00:00] #1019 closed

[2020-10-14 00:17] FredKSchott commented on #1019
woo! awesome job driving this @gr2m!

[2020-10-14 04:23] cherihung commented on #440
Hi, we are running into a similar issue still using the latest snowpack 2.13.3 with the namedExports support. It's a typescript project. could be an issue with unwrapping exports and mixing of import types.  not sure if there's rollup config I can use to address this.

I'm importing a custom styled component library so I declared the exports with something like this:
[code]

in the app itself, I i

[2020-10-14 05:20] gr2m opened #1306 "optimize plugin: add test for `preloadModules` option"
follow up to https://github.com/pikapkg/snowpack/pull/1300#issuecomment-708159528

The tests exist at https://github.com/pikapkg/snowpack/blob/bf29ebddc84b52d28e094073b7088a47497a67cf/plugins/plugin-optimize/test/plugin.test.js

You can run the tests for that plugin in isolation by running

[code]

In order for the `preloadModules` option to have a any effect, the imported JavaScript file needs to

[2020-10-14 10:13] alex-saunders commented on #1213
Hey @FredKSchott ! I'm interested in picking this up, I've got some experience using magic-string with creating rollup plugins so I should have some idea of the work involved here.
Looking forward to contributing to snowpack again!

[2020-10-14 19:48] cherihung opened #1311 "namedExports issue with CJS imports in 2.13.3"
Hi, we are running into a similar issue still using the latest snowpack 2.13.3 with the namedExports support. It's a typescript project. could be an issue with unwrapping exports and mixing of import types.  not sure if there's rollup config I can use to address this.

I'm importing a custom styled component library so I declared the exports with something like this:
[code]

in the app itself, I i

[2020-10-14 20:43] #1311 closed

[2020-10-15 04:44] canadaduane commented on #670
There is also https://www.npmjs.com/package/@carv/snowpack-plugin-rollup, which may be useful for reference (however, its corresponding github repository seems to have been (re)moved).

[2020-10-16 03:58] FredKSchott commented on #1277
Update: I reserved create-snowpack so that you'll be able to run `npm init snowpack`. That also is nice because it means we can develop this entirely in a new package without worrying about "breaking changes" to the current CLI

[2020-10-16 06:03] HexaField opened #1332 "Edits to monorepo linked package source requires snowpack cache reload to take effect"
When using Lerna & Yarn workspaces, Snowpack running in a non-package folder requires the cache to be reloaded for any changes in the package source to take effect.

[code]

Running on Ubuntu 18.04.5 LTS
Snowpack@2.14.1
Yarn@1.22.5
Lerna@3.22.1

[2020-10-16 10:56] AlonMiz commented on #1213
I think it's pretty important.
We've tried snowpack in our project and eventually reverted cause it didn't generate source-maps while working with React (or Typescript).
I've seen you several times wondering why source-maps are important in dev mode. But, and i think it's crucial
let's consider that piece of code:
![image](https://user-images.githubusercontent.com/1812912/96249710-4457c780-0fb6-11

[2020-10-16 12:36] David-Else commented on #1213
@FredKSchott I have been messing around with the Chrome devtools and getting nowhere, can I enable sourcemaps somehow right now even with errors? I would dearly love to stay in VS Code for debugging. I am not using any snowpack plugins, only the default TypeScript blank template. Thanks!

[2020-10-16 15:25] stramel commented on #1277
@FredKSchott Would it be worth having Snowpack as an org? That would allow us to use `@snowpack/create` and not have to worry about reserving package names.

[2020-10-16 18:11] FredKSchott commented on #1277
We already have `@snowpack` as an org! But, I thought `npm init` only worked with the unscoped `create-*` package names.

[2020-10-16 21:49] FredKSchott opened #1339 "Finalize SSR & JS API"
## Background

We've been doing a lot of work to support the Snowpack SSR story over the last couple of weeks, and at this point are in a pretty good spot. This issue serves to document the last known work needed before we can consider this work "done" and can remove the` __unstable` prefix from our new JS API.

## Work Needed

- [x] **Need a way to detect if you are in browser or Node.js:** This

[2020-10-16 21:51] FredKSchott commented on #1189
@melissamcewen next time you're in the snowpack repo, can you tackle this?

[2020-10-16 21:54] FredKSchott opened #1340 "Support secondary file extensions in resolve.input & resolve.output"
**Original Discussion:** https://github.com/pikapkg/snowpack/discussions/1338
**/cc** @rhengles

## Background

The reason that we have this unique `resolve` approach to file building is that we need to be able to map to<->from source<->dist. For example, when a `foo.css` request comes into our dev server, we need to be able to know that "oh, the Sass plugin builds `.scss` files to `.css`, so lets

[2020-10-16 22:51] rhengles commented on #1340
@FredKSchott

I'd love to make this, but I don't understand the purpose of the first two functions. I can see the single line comments above them but I see no way to refactor without breaking backward compatibility, specifically of the SnowpackPlugin interface.

[2020-10-16 22:54] rhengles commented on #1340
I mean, what would Snowpack do for this plugin (taken from the site plugin guide):

[code]

[2020-10-16 22:57] rhengles commented on #1340
Or this one:
[code]

[2020-10-16 23:07] FredKSchott commented on #1340
I added a section on "Expected Behavior" to make it more clear what's expected / beind described here. Does that make sense?

[2020-10-16 23:20] FredKSchott commented on #1189
also: adding "description" to every template package.json

[2020-10-16 23:36] FredKSchott commented on #1277
@gr2m I just added a note about browser support: If we're going to do this work, I'd like it to run in both the browser and the command line, so that we can create a "config generator" on the snowpack.dev website using the exact same library. If that's too difficult, lets chat about it in person.

[2020-10-17 00:00] stramel commented on #1277
@FredKSchott Hmmm, I can't find the repo that I was thinking of that did the scoped but with `npx` you can do `npx @snowpack/create`. I think with `npm init` you can do `npm init --scope=@snowpack`? But very unsure about the `npm init`

[2020-10-18 06:10] canadaduane commented on #1276
I like the simplicity for the end-user in your proposal.

(Aside: Was there a discussion thread somewhere on using Snowpack as a production bundling tool? My impression is that the important niche it fills is in development. I worry the codebase could become unwieldy if it starts to do "all the things" that webpack, rollup, parcel do. But if there's a better place for this higher-level discussion,

[2020-10-18 10:20] FredKSchott commented on #1296
PR: #1353

[2020-10-18 10:30] ryankask commented on #1296
What's the quickest way to try this out for local project?

[2020-10-18 10:34] FredKSchott commented on #1296
Check out this repo, and then run the CLI in the repo directly from within your own project: “../../../snowpack/snowpack/index.bin.js dev”

[2020-10-18 10:50] #1041 closed

[2020-10-18 16:30] FredKSchott commented on #1276
@canadaduane Valid point, and that's the main reason that we haven't tackled this yet / we still recommend adding a plugin to bundle/optimize your build. But I think vite proved that devs do want some level of bundling/optimizing built-in. This feature would essentially be documented and implemented using the same plugin interface, so in terms of complexity I think of this more as "a shortcut to a

[2020-10-18 21:22] ashwanth1109 commented on #1279
Hi @FredKSchott , this is my first time contributing to an open source project. I find snowpack to be a delight to use (albeit I've only used it for a short time). I would like to lend a hand in whatever way possible and I figured I'd start here.

Since no one has claimed this issue yet, I have raised PR https://github.com/snowpackjs/snowpack/pull/1358 to address the changes required.

[2020-10-18 21:32] FredKSchott commented on #1296
Merged in #1353!

[2020-10-18 21:32] #1296 closed

[2020-10-18 22:37] FredKSchott commented on #1279
Amazing, thank you! Will follow up in that PR to review 👍

[2020-10-18 22:37] #1279 closed

[2020-10-18 23:52] juanfrank77 commented on #1278
Hey Fred, been a fan of the work you're doing with Snowpack and have been using it for most of my personal projects for the last two months. In the spirit of Hacktoberfest I figured this would a great chance to be useful for the project and since you mentioned this issue is relatively straightforward, I think I should start here.

Problem is, I'm more a UI kind of guy so I don't know much about th

[2020-10-19 00:22] FredKSchott commented on #1278
Thanks! This may take you out of your comfort zone a bit into Node.js world, but the nice thing about this work specifically is that our test suite will guide you most of the way. I definitely think it's worth giving a try, at least to learn more.

I tried looking around for good blog posts on the subject, but I couldn't find any!

[2020-10-19 02:13] juanfrank77 commented on #1278
Yeah, Node.js world is a foreign land for me but I like that you mentioned that the test suite is going to tell me about any screwups I do 😅

Appreciate that you looked into other resources, I think it would be a worthy challenge to undertake but it'll be slow progress 'till I pick up some speed with this.

[2020-10-19 02:47] FredKSchott commented on #1278
Np, and no pressure! If theres no activity here in a week or some, im sure someone else can jump in to help

[2020-10-19 03:17] noseratio commented on #1263
Hi @FredKSchott,

Just checking if it was meant to be fixed in v2.15.0-pre.5? It so, the problem is still there, I've updated [the repo](https://github.com/noseratio/snowpack-discussions-1209) to repro.

`npm run build` still fails with the same error:  `Unexpected token (2:2) in mod101\index.js`.

Thanks for looking into this! My `package.json`:

[code]

[2020-10-19 03:35] FredKSchott commented on #1263
Oh interesting. We've added private method support in your source code for Snowpack, but not in your packages. Because the private field exists in mod101, and because mod101 is treated as a dependency, it goes through a different workflow.

The easiest fix would be to move mod101 into a mounted folder like src, and then import it by relative URL. Can you do that?

Our dependencies go through Rollu

[2020-10-19 04:00] noseratio commented on #1263
The problem is, this package lives in the same monorepo and is shared between front-ends (using snowpack) and back-end (using Node's native ESM support). I just do `npm install [relative_path]/mod101` in the root of each project that uses `mod101` in this monorepo, be it front-end or back-end.

I think this is a pretty common workflow. I'd rather give up private JS methods to keep the convenience

[2020-10-19 04:32] FredKSchott commented on #1263
No problem! Hopefully Rollup adds support for this.

If anyone else finds this issue, please leave a comment asking for support! If we get enough requests , we can look into adding the acorn plugin to Rollup so that packages get this support.

[2020-10-19 05:07] noseratio commented on #1263
@FredKSchott, FWIW I thought I'd report it to Rollup, but I couldn't repro it with Rollup. Running this from the root of my repro-case repo:

[code]

I see no errors, and `bundle.js` gets successfully generated with this content:

[code]

Am I missing something?

[2020-10-19 07:41] fabian-michael commented on #1247
Same here. I have an alias `types: './src/types'` and I import from index as well and I get `GET http://localhost:8080/types.js net::ERR_ABORTED 404 (Not Found)`.

[2020-10-19 16:08] #1189 closed

[2020-10-19 16:50] high1 commented on #1278
I can take this, if help is still needed.

[2020-10-19 17:24] rhengles commented on #1340
In `snowpack/src/build/import-resolver.ts`, this code call _both_ these functions. This causes the extensions to be changed two times by the plugins.
[code]

[2020-10-19 23:36] noseratio commented on #1263
Leaving a note for the future self and others. As far as I understand the problem with private class methods, to solve it we need:

- a [custom Rollup plugin](https://www.snowpack.dev/#node.js-polyfills) for Snowpack.
- such plugin should use [`acornInjectPlugins`](https://rollupjs.org/guide/en/#acorninjectplugins) to inject [`acorn-private-methods`](https://github.com/acornjs/acorn-private-method

[2020-10-20 02:18] GiancarlosIO commented on #1339
👀

[2020-10-20 02:36] brainkim commented on #1339
Is there more information about this that I can find somewhere?

[2020-10-20 04:28] FredKSchott commented on #1339
I'm not sure what their plans are to share the beta @svelte/kit repo, but hopefully its open sourced soon!

[2020-10-20 23:38] gr2m commented on #1277
@olyno created an interactive CLI to create a snowpack project at https://github.com/frontend-templates-world/new-snowpack-project, see their comment at https://github.com/snowpackjs/snowpack/discussions/1023#discussioncomment-105791

@olyno I'm checking out new-snowpack-project right now, it looks great 👍🏼 It's not quite what Fred describes above, but it's great nevertheless. I'll give you some f

[2020-10-21 00:15] gr2m commented on #1277
@FredKSchott can you clarify what you had in mind for the effect of the "What are you building today?" question?

[2020-10-21 00:18] Olyno commented on #1277
Sure I could! I think it will be harder to generate a new app from scratch using a CLI without a lot of issues as conflicts, but it can be a really good challenge if it can be done 😃

[2020-10-21 00:22] gr2m commented on #1277
We can start out with a minimal set of questions/answers, and then iterate on it, one step at a time 👍🏼

[2020-10-21 00:39] FredKSchott commented on #1277
Awesome y’all, can’t wait!

Re: what are you building today: I was trying to get at the difference between a MPA vs a SPA. Basically:

- multi-page app: HTML based page with a single component on it.
- single-page app: HTML wrapper with a single App.js component

Tbh the distinction isn’t important at the moment, so ignore this question/idea for now.

[2020-10-21 04:18] gr2m commented on #1213
Hey @alex-saunders thanks for picking it up! Let us know if there is anything we can help you with. Please feel free to start a work-in-progress pull request as early as you like

[2020-10-21 09:19] pacez opened #1375 "css modules throw error " SyntaxError: Unexpected token '*' ""
### Environment
Template:  @snowpack/app-template-react-typescript
nodejs: v13.7.0
snowpack: v12.15.0
- - -

### Here's how I use it
![image](https://user-images.githubusercontent.com/7055457/96699305-b2d6c400-13c0-11eb-999d-6729c7e3982d.png)
- - -

### Throw Error as follow:
![image](https://user-images.githubusercontent.com/7055457/96699054-6be8ce80-13c0-11eb-9c76-8536e4576895.png)
- - -

### st

[2020-10-21 09:28] pacez commented on #1375
I rollback v2.14.3.  It's working。

There is a problem on 2.15.0。

[2020-10-21 11:48] FredKSchott commented on #1375
Thanks for filing! This was reported and fixed earlier today in #1374, a patch release just went out: 2.15.1.

[2020-10-21 11:48] #1375 closed

[2020-10-21 15:03] basham opened #1378 "web-test-runner-plugin blocks code coverage"
I'm trying to get web-test-runner to run code coverage, as outlined in their [guide](https://modern-web.dev/guides/test-runner/code-coverage/).

When I include the `@snowpack/web-test-runner-plugin` in `web-test-runner.config.js` as recommended in the [Snowpack *Testing* docs](https://www.snowpack.dev/#testing), it outputs this to the terminal, and the HTML report is empty:

[code]

However, when

[2020-10-22 01:05] eligrey opened #1381 "Upgrade @snowpack/plugin-webpack to Webpack 5"
Is `@snowpack/plugin-webpack` planned to be updated to Webpack 5?

[2020-10-22 11:50] thesayyn commented on #1182
Hello, I have found snowpack through the svelte summit, and I would like to work on how we could make snowpack work with angular projects.

[2020-10-22 13:50] janosh commented on #1122
Is this the same use case as covered by [`@rollup/plugin-virtual`](https://github.com/rollup/plugins/tree/master/packages/virtual)? If so, they seem to prevent name clashing by putting all virtual modules into a namespace [prefixed by `'\0virtual:'`](https://github.com/rollup/plugins/blob/dbececf6c72bb6276f2a80f35a49bbc7a388ace3/packages/virtual/src/index.ts#L7).

[2020-10-22 17:37] jgroh9 commented on #1378
I'm experiencing this issue as well

[2020-10-22 21:51] trusktr opened #1388 "[idea] instead of rolling up entry points, convert all files to ESM"
Being able to convert all files to ESM (instead of bundling entry points with Rollup) may make it easier for others to build on top of esinstall to create ES Module servers that serve ES Modules individually (each individual file) via HTTP/2 push or similar (I haven't looked into HTTP/3 yet).

[2020-10-23 01:54] thescripted commented on #1306
I'd like to pick this one up, if still available.

[2020-10-23 04:31] gr2m commented on #1306
All yours @thescripted, thanks!

[2020-10-23 04:56] gr2m commented on #1277
@FredKSchott correct me if I got anything wrong, but for a first version, we want to ask 3 questions, and keep the current templates

[code]

These two questions should result in one of the templates we have today: https://github.com/snowpackjs/snowpack/tree/master/create-snowpack-app

Special template cases are currently

1. [minimal](https://github.com/snowpackjs/snowpack/tree/master/create-snow

[2020-10-23 07:14] JennieJi commented on #1247
Hi @FredKSchott I'd like to look into this bug.

I found an integration test related, but I couldn't found the integration test runner in master now, seems whole integration tests are not runned, am I missing something?

[2020-10-23 09:55] pago commented on #1165
I'm wondering whether the limitations of `importAll` would outweigh the loss of opportunities compared to the `context` variant. For example, if I imagine a routing system like next.js, the `context` variant would enable on-demand loading of the route implementations, whereas `importAll` would cause all of them to load immediately, regardless of need.

What if the return value wasn't a plain strin

[2020-10-23 10:50] abhijitgujar86 opened #1392 "documentation for multi page application"
I checked that snowpack supports multi page build from version 2.7 + but I cannot find any documentation related to it ?
I want to configure svlete, tailwindcss with multi page support. Its complicated can anyone at least point me towards docs ?

[2020-10-23 14:19] noseratio commented on #1263
I've solved it, using Rollup.js [`options`](https://rollupjs.org/guide/en/#options) hook and [`acorn-stage3`](https://github.com/acornjs/acorn-stage3) acorn plugin, [repo](https://github.com/noseratio/snowpack-discussions-1209).
More details in [my SO answer](https://stackoverflow.com/a/64501702/1768303).

[2020-10-23 17:52] Olyno commented on #1277
Sure it does, I'm on it 😄

[2020-10-23 23:02] gr2m commented on #1277
awesome, please let me know if there is anything I can help with!

[2020-10-24 03:13] jfelipebc opened #1400 "TailwindCSS Uncaught SyntaxError: Unexpected token '.'"
### Enviroment
Template: @snowpack/app-template-react
NodeJS: v12.18.2
Snowpack: 2.15.1

### How I implement it
Option 1
![indexcss](https://user-images.githubusercontent.com/2241912/97066554-09d4c880-157c-11eb-8677-b8f3e02fa765.png)

Option 2
![indexcss2](https://user-images.githubusercontent.com/2241912/97066560-0f321300-157c-11eb-9c37-20a7b55080e0.png)

#### Error
![error](https://user-images.g

[2020-10-24 22:34] noseratio commented on #1263
And now we have an [NPM package to configure Acorn options](https://www.npmjs.com/package/snowpack-plugin-acorn-injection), thanks to @concision.

[2020-10-25 05:01] Velua commented on #440
Warning system would be good, or perhaps even something like a ```package.json``` checker to see how much dev time it's going to take to handle existing projects. Just tried shifting my production app to this to find all sorts of awesome errors. Would be good to have an idea of what packages exactly are getting in the way.

[2020-10-25 15:56] james2mid commented on #1182
Hey guys, I'm new to Snowpack but it seems awesome. I've just been dabbling with a vanilla JS webapp.

I'm trying to get more involved with the OSS community so I'd love to help wherever I can. I'm also learning about WebAssembly currently, so any beginner-friendly WASM issues for me to work on would be awesome.

Btw, I discovered the project through the top GitHub projects.

[2020-10-25 17:38] mauricekraus commented on #1144
Sorry for reaching out that late, but i did not find much time to really start and I'm a bit of overwhelmed by the codebase. Could you give me some kind of kick start?

[2020-10-25 23:47] ashwanth1109 commented on #1280
@FredKSchott , I have been looking into this issue and I'm running into a bit of a snag.

I followed the documentation in webpack [on how to setup  a web worker with workbox]((https://webpack.js.org/guides/progressive-web-application/#root). But Im running into a bit of a snag.

This is the error I get:
![2020-10-26 05_05_22-Progressive Web Application](https://user-images.githubusercontent.com/32

[2020-10-25 23:57] ashwanth1109 commented on #1280
I have [raised the issue on webpack js documentation site](https://github.com/webpack/webpack.js.org/issues/4097) just in case.

[2020-10-26 03:47] #1306 closed

[2020-10-26 06:54] dishuostec opened #1409 "etag is not correctly update"
snowpack: 2.15.1

## Steps to reproduce:
1. run `npx create-snowpack-app new-dir --template @snowpack/app-template-svelte`
2. enter new-dir and run `npm run start`
3. edit `src/App.svelte`, change background color for `.App-header` to `#000000`
4. reload browser

## Expected:
Background color is black.

## Current:
Style is missing.

## Possible Sulotion:
It seems when svelte file changed, only et

[2020-10-26 08:08] JennieJi commented on #1094
Hi @FredKSchott , I find this seems has been done in the [rollup-plugin-catch-unresolved](https://github.com/snowpackjs/snowpack/blob/626b8fa8c2109f6903ca4ea3731d4f6ae6eac00a/esinstall/src/rollup-plugins/rollup-plugin-catch-unresolved.ts#L20), and throws when running `snowpack dev` with this nice error printed like this:

[code]

But in `snowpack build` it is not catched, and passing normally:
[co

[2020-10-26 19:51] drwpow opened #1412 "HMR not working for Sass plugin + CSS Modules"
## Issue

_Originally posted by @solomon23 in https://github.com/snowpackjs/snowpack/discussions/1397_:

Confirmed this is a bug—it seems that part of the HMR code is missing or improperly generated on a `.scss` filechange, as indicated by the `styleEl is not defined` error.

[2020-10-26 20:56] jiangfengming commented on #1144
Can we just keep the `install` config?

[code]

[2020-10-27 03:46] dmail commented on #1278
I ran into this kind of concerns before and made a package dedicated to this:

An extract from https://github.com/jsenv/jsenv-util#presentation

This repository makes me win tons of time when writing js code handling files. Let me know if you find it useful :)

[2020-10-27 07:29] tivac opened #1416 "Snowpack deepmerges plugin configs, destroying object instances"
At both of these points in snowpack's config loading logic it uses `deepmerge` to combine multiple objects. Unfortunately, it doesn't use the existing [`isMergeableObject`](https://www.npmjs.com/package/deepmerge#ismergeableobject) option to allow it to know that it shouldn't try and clone the properties of instantiated objects. This means that you can't pass an instantiated object to snowpack plu

[2020-10-27 14:06] Olyno commented on #1277
@gr2m Ok so I did some works about the project, and it should be good now. Can you have a look in before I merge it, and potentially give me a feedback?

[2020-10-27 15:32] juanfrank77 commented on #1278
@dmail That repo looks really cool!
Definitely looks like a more dependable solution than what I was working on.

[2020-10-27 15:55] gr2m commented on #1277
Absolutely! I'll have a look today

[2020-10-27 17:54] drwpow commented on #1381
Yes! We’d love a PR if anyone is able to provide one.

[2020-10-27 17:56] drwpow commented on #1388
This sounds like a great discussion topic (https://github.com/snowpackjs/snowpack/discussions), as per the issue template. Would love to hear more there on a possible option for esinstall, or something like that (but also, perhaps using pure Rollup may sound like a better option for now?).

[2020-10-27 17:56] #1388 closed

[2020-10-27 18:01] drwpow commented on #1277
@melissamcewen and I had a bad experience today publishing the `@snowpack/app-template-blank` template. Because the `package.json` is both used for the actual npm package, as well as the thing that gets instantiated for new projects, I was throwing template snapshot tests… because I was preparing something for npm.

I think the snapshot tests have other problems, but they work for now. But them sn

[2020-10-27 18:20] Olyno commented on #1277
Not related to @drwpow's problem, but if anyone can try the new version of the [``create-snowpack-app`` cli (0.2.0)](https://github.com/frontend-templates-world/create-snowpack-app-interactive/releases/tag/0.2.0), feebacks are welcome 😃

[2020-10-27 19:07] melissamcewen opened #1420 "Reorganize docs into multiple pages"
Docs should be multiple pages rather than one long page.

- [x] Reorganize file structure so it's easier to make multiple pages see #1413
- [x] Add new guides/guide section see PR #1309
- [x] Reorganize content #1430
- [x] Add new TOC /split into pages #1437
- [ ] Audit content/links to find broken links, see if we need to do some editing (check posts too)
- [ ] Merge any docs changes since docs-r

[2020-10-28 08:30] weisk commented on #1400
Yeah, I was also fighting with this error. Turns out **@snowpack/plugin-postcss** , is not covering our use case, with tailwind..

![https://i.imgur.com/fkJEooZ.png](https://i.imgur.com/fkJEooZ.png)

So It picks Svelte,sass, and vue generated css files but not the ones from tailwind? 🤔

Anyway, the solution is to script it yourself as they state in the docs, [connect any script](https://www.snowpa

[2020-10-28 15:58] gunar commented on #912
Sorry, how do I use this? I'm on snowpack `2.15.1` and I'm getting `process is not defined`

[2020-10-28 18:19] brianjacobs-natgeo commented on #1287
Hi Fred, I noticed this issue here. Sort of but not entirely related: I had [brought this up](https://www.pika.dev/npm/snowpack/discuss/396) a while back regarding css via `<link>`, which our projects demand. I have these (dirty) patches which work well for me in snowpack 2.13.3, to allow HMR of css in `<link>`, in case relevant to these efforts.

[code]

[code]

[2020-10-29 08:29] VanishMax commented on #1277
Hi! I really appreciate all the efforts of the Snowpack team to create the best bundler! So, I'd like to help on this issue by working on templates for any framework or technology.

[2020-10-29 14:06] #1412 closed

[2020-10-29 14:46] #1409 closed

[2020-10-29 14:50] FredKSchott commented on #1278
@high1 if you're interested, we'd love your help!

One thing to note is that this doesn't need to be a FULL CHANGE THE ENTIRE WORLD AT ONCE kind of project. Feel free to take an incremental, small PRs approach to this work.

[2020-10-29 15:11] FredKSchott commented on #1378
I'd love some help debugging this! In your node-modules directory, can you add a console.log to:

`node_modules/@snowpack/web-test-runner-plugin/plugin.js`

[code]

And then share the result? Specifically, I'm curious if these are catching any files that aren't coming from your codebase. If that's happening, the it could be that Snowpack is trying to serve some code-coverage helper files itself, w

[2020-10-29 15:23] basham commented on #1378
Here's the output, as requested, using my [`basham/rx-ui-patterns`](https://github.com/basham/rx-ui-patterns) project. Let me know if you need anything else.

[code]

[2020-10-29 15:29] basham commented on #1378
To clarify, there are only two test files in this project right now.

[code]

[2020-10-29 16:36] melissamcewen opened #1435 "Tests in app-template-svelte-typescript don't run"
When you install the app-template-svelte-typescript and run `yarn test`, the test runner starts but does not complete

**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/1401
**/cc** @ebeloded

[2020-10-29 16:40] FredKSchott commented on #1378
Hmm, I don't see anything surprising/problematic in that code. @LarsDenBakker any idea what may be going on here?

[2020-10-29 16:43] FredKSchott commented on #1435
We're in the middle of moving app templates to use web/test-runner for this exact reason! Lets tackle this issue by just upgrading the template to use wtr (see React templates for what this looks like, post merge)

[2020-10-29 16:51] N8-B commented on #1381
@drwpow - I could try to tackle this. Feel free to assign this issue to me given you agree with the following caveat.

This plugin uses `webpack-manifest-plugin` which currently is not compatible with webpack 5. If we want to update to webpack 5, the plugin's `manifest` option would have to fallback to `false` internally until the manifest plugin offers webpack 5 support ([see migration plan](http

[2020-10-29 17:37] LarsDenBakker commented on #1378
Thanks for pinging me. It looks like one of the libraries we're using for test coverage parsing (https://github.com/istanbuljs/v8-to-istanbul) is returning empty results when using the plugin - possibly because the paths are pointing to `dist`. I'm looking into how we can resolve this.

[2020-10-29 17:46] high1 commented on #1278
@FredKSchott yes, I am. If you could point me to one starting point inside the project on which I could start work from, it would be great.

[2020-10-29 19:01] gr2m commented on #1277
@VanishMax that's great! Is there any that you are particularly interested in? Always best to scratch your own itch!

You could also help us by testing the upcoming, interactive CLI: https://github.com/frontend-templates-world/create-snowpack-app-interactive

[2020-10-29 21:12] LarsDenBakker commented on #1378
I've fixed this in `@web/test-runner` 0.9.7 . I also added `web_modules` to the default list of excluded folders for test coverage.

However there is still a few problems when doing test coverage with snowpack.

1. The files built with snowpack don't have any sourcemaps, so the generated report from istanbul can't map back to the original source content. (though this doesn't affect the actual cove

[2020-10-29 21:25] basham commented on #1378
I upgraded to `@web/test-runner@0.9.7`. I can confirm that coverage percentage outputs to the terminal. But yes, the report is broken when inspecting individual files. For example:

[code]

The path is missing the `src/` folder. The correct file path is:

[code]

[2020-10-29 23:18] FredKSchott commented on #1378
Great, thanks @LarsDenBakker! We’re tracking the remaining work to get sourcemaps working in all cases in #1213

[2020-10-29 23:18] #1378 closed

[2020-10-30 00:18] jfelipebc commented on #1400
@weisk Thank you for your help, I changed the config according to the image, and everything works!

[2020-10-30 00:18] #1400 closed

[2020-10-30 03:27] FredKSchott commented on #1278
Honestly, the easiest place to start may be `FileBuilder` in `build.ts` since it's a self-contained class. `filepath`, `outDir`, `output`, and more all use file paths (`/a/b/c.js`) and could be updated to file URLs without affecting too much of the rest of the Snowpack codebase.

[2020-10-30 03:32] #1332 closed

[2020-10-30 03:34] FredKSchott commented on #1381
Bah, that's a shame. We may just want to wait, then

[2020-10-30 03:53] FredKSchott commented on #1392
@melissamcewen is working on guides at the moment, but the main concept is that Snowpack ships each project file directly to the browser, by default. So `index.html` becomes your homepage, `./help.html` is served at `/help` or `/help.html`, etc.

Advanced routing for multipage apps is still todo, but that should get you pretty far!

[2020-10-30 03:53] #1392 closed

[2020-10-30 04:10] FredKSchott commented on #1144
no worries @mauricekraus, in retrospect this may not be the best "first issue" :) appreciate you taking a look though!

[2020-10-30 04:32] FredKSchott commented on #1287
Wow that's really clever, and giving me some ideas... I wonder if we could update our proxies to do something like:

[code]

I think that would work, and getting rid of inline `<style>` elements would be nice. Although, it wouldn't remove them completely, since we'd still be using them to "prefill" content. So maybe this is really just adding complexity? I'll think about this more, but thanks for

[2020-10-30 09:37] high1 commented on #1278
OK, thanks. I tried to test everything on Windows, the tests are passing mostly, I need to install Chrome to be able to run @web/test-runner tests.

[2020-10-30 14:38] criskrzysiu opened #1447 "Angular plugin?"
Hi guys,
is there any plans to create an Angular plugin? I only found one issue called Angular? with no explanation whatsoever. There was mention of https://github.com/ngx-rocket/starter-kit but this project looks like abandoned. Maybe someone is working on Angular plugin or have even idea if it is possible to create one taking into account how angular is heavily using it's own modules etc.

[2020-10-30 14:41] criskrzysiu commented on #1447
mentioned issue https://github.com/snowpackjs/create-snowpack-app/issues/83

[2020-10-30 15:45] FredKSchott commented on #1278
Huh, I thought that `@web/test-runner` came with a version of headless chromium. There may be some docs here to help you get up and running: https://modern-web.dev/docs/test-runner/overview/

[2020-10-30 15:47] high1 commented on #1278
I would need to add some config there, already did that for my snowpack configs. I have a preliminary patch for FileBuilder, will make a merge request soon.

[2020-10-30 15:55] #1447 closed

[2020-10-30 21:56] FredKSchott commented on #1247
Fixed on master!

[2020-10-30 21:56] #1247 closed

[2020-10-30 22:28] FredKSchott commented on #1182
Awesome that we were on top GH projects! Welcome!

@thesayyn I actually don't know how well Snowpack + Angular works, but would love for someone to look more into it. My guess is that it's hard, given how much tooling Angular provides through the official CLI

[2020-10-30 22:28] #1182 closed

[2020-10-31 06:14] FredKSchott commented on #1435
Fixed in 7f1690b2

[2020-10-31 06:14] #1435 closed

[2020-10-31 06:15] FredKSchott commented on #1416
Makes sense, would love a PR to fix this!

[2020-10-31 07:53] tivac commented on #1416
@FredKSchott and you're cool with taking on `is-plain-object` as a dependency?

https://bundlephobia.com/result?p=is-plain-object@5.0.0

[2020-11-01 04:18] FredKSchott commented on #1416
yup, sounds good. This runs in Node.js so that size is more than acceptable.

[2020-11-02 10:43] pho7on opened #1478 "Snowpack not loading css sourcemap"
As the title suggests, snowpack is not serving css sourcemap (it was compiled from scss). When I open index.html file directly sourcemap loads properly. I used create-snowpack-app with @snowpack/app-template-react-typescript.

When I try to open style.css.map file directly in the browser I get regular style.css file

[2020-11-03 17:29] drwpow commented on #1416
We do validate config using `jsonschema`, so our validator expects a JSON-like structure. Hopefully it doesn’t pose any issues with this, and we’re open to alternatives there, so long it still gives friendly error messages when people mis-type their config.

[2020-11-03 17:46] tivac commented on #1416
@drwpow I didn't notice any issues when passing in instantiated objects as plugin configs with any of the `jsonschema` validation, but I also wasn't looking for it. I hope there are tests for that so I can validate my changes don't explode it?

I'm still hoping to do a PR for this shortly, I tried a bit ago and ran into tooling issues (I'm on windows) and haven't had the wherewithal to take anothe

[2020-11-03 20:41] melissamcewen opened #1503 "Create a Tailwind CSS Guide"
Tailwind CSS is a popular tool and we get many [questions](https://github.com/snowpackjs/snowpack/discussions?discussions_q=tailwind) about how to use it effectively with Snowpack. The guide would include coverage of the different ways to use it, their pros and cons, and include a template/example.

[2020-11-05 04:03] jhewt commented on #1271
I'm also facing this problem while running `npm run build`.
I've a single "entry" sass where all partials are imported with `@import`.
The error thrown is as if you're trying to compile the scss file individually without importing variables first.

`src/sass/base.scss` looks like this
[code]
And the sass folder structure:
![image](https://user-images.githubusercontent.com/3622160/98196095-06d5c280

[2020-11-05 10:01] LachlanArthur commented on #1271
Excluding the SCSS partials in the Snowpack config worked for me:

[code]

But it would be nice if the plugin could ignore them automatically.

[2020-11-05 10:20] jhewt commented on #1271
Indeed it should, also I totally forgot about excluding files with Snowpack's config. Thanks a bunch!

[2020-11-05 10:54] heikkilamarko commented on #1271
I guess, adding exclude works for the prod build, but how about the dev time. During development, the exclude causes snowpack not to detect changes to partial SASS files.

[2020-11-05 14:51] jhewt commented on #1271
For me it does detect changes in every included sass file in both dev and prod builds.
I just included the main sass file on top of the very first JS file, `index.js` in my case with Svelte:

[code]

[2020-11-05 15:38] cevek opened #1523 "Sometimes build freezes if code has tildas `"
I've debug it, and it comes to infinity regexp exec here

call from
parse.js:90
[code]

parse.js:49
[code]

[2020-11-05 22:41] FredKSchott commented on #1523
Sorry, where is this `parse.js` file?  I don't see it in our codebase.

[2020-11-06 00:14] melissamcewen opened #1527 "Webpack plugin errors do not crash the build"
As first reported with in #1510, here is an example I encountered with the Webpack Plugin pre #1525
[code]

The build failed but it reported success.

CC @denis-sokolov

[2020-11-06 05:45] melissamcewen opened #1528 "Document experiments.app"
The `experiments.app` options are not in our docs currently. See discussion at #1514

[2020-11-06 08:33] high1 commented on #1278
@FredKSchott I took a shot at this, and created a PR. I'd like to have some input on the PR, when you can...

[2020-11-06 10:30] cevek commented on #1523
Ah, sorry. It is from `strip-comments` module

[2020-11-06 14:54] dyaacov opened #1529 ""font-awesome" has unexpected entrypoint: undefined"
Hi guys,

I'm trying to migrate from webpack to snowpack
I've create new project from template  @snowpack/app-template-react-typescript

When I install dependency **font-awesome**, I get the following error:
**`[snowpack] "font-awesome" has unexpected entrypoint: undefined.`**

any idea?

Thanks
Dekel

[2020-11-08 01:16] lusatiro opened #1542 "[package issue] vuetify"
Congrats about the project.

But it seems that is doesn't work with Vuetify:

[code]

My config:

[code]

[2020-11-08 01:16] lusatiro opened #1543 "Vuetify: Unexpected character '@'"
Congrats about the project.

But it seems that is doesn't work with Vuetify:

[code]

My config:

[code]

[2020-11-08 07:32] #1416 closed

[2020-11-08 09:43] martinburger commented on #1478
Same here. It seems this issue is related to #1340.

In my case, GETting `http://localhost:8080/assets/bootstrap-4.5.2/css/bootstrap.min.css.map` results in `http://localhost:8080/assets/bootstrap-4.5.2/css/bootstrap.min.css` being served.

This causes the following warning in the Firefox Web Console:

[code]

[2020-11-08 15:26] zhusjfaker opened #1549 "Does snowpack provide the ability to modify the configuration of the @ snowpack / plugin esbuild plug-in"
![image](https://user-images.githubusercontent.com/31839470/98469324-cd5ec900-2219-11eb-8b28-90e5c1f9301f.png)

[2020-11-09 05:11] markfirmware opened #1554 "Tests needed - templates - npm run build"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/1537 and https://github.com/snowpackjs/snowpack/discussions/1533
**/cc** @markfirmware @SimoMoilanen @trivikr

- [  ] [audit from an external repo](https://github.com/markfirmware/audit/blob/master/README.md)
- [  ] add tests in a branch (npm run build for each template)
- [  ] add fixes to that branch - see [options](http

[2020-11-09 17:01] FredKSchott opened #1558 "TypeScript issue for `import.meta`"
We're currently tracking a bug in @types/snowpack-env that is causing "object is undefined" errors. We're working on getting a fix into the types package today.

More info: https://github.com/snowpackjs/snowpack/discussions/1533
short term fix: `@types/snowpack-env@2.3.1` is bad, so pin to `@types/snowpack-env@2.3.0` exactly.

[2020-11-09 17:36] pho7on commented on #1478
did you manage to find some sort of solution? this is the only thing preventing me from completely switching to snowpack since I work with a team of juniors, I need that CSS map :D

[2020-11-09 17:38] martinburger commented on #1478
I did not look for a workaround.

[2020-11-09 18:21] 11111000000 commented on #580
so, how to do that now?

[2020-11-09 19:22] olivierbossel opened #1561 "Allow "node_modules/..." file update detection and cache busting"
Hi there,

First of all, thanks a lot for your work. Really appreciate this project.

I have an "issue" that can maybe touch other persons.
I work in a monorepo in which I have multiple "packages". Here's an example of structure:

- toolkit --------------------
- toolkit/**package.json**
- toolkit/js/**my-cool-file.js**
- ui -------------------------
- ui/**package.json**
- ui/**snowpack.config.js

[2020-11-09 23:15] markfirmware commented on #1558
The temporary fix is failing: [audit from an external repo](https://github.com/markfirmware/audit/blob/master/README.md)

[2020-11-10 01:29] FredKSchott commented on #1558
Sorry I was in a hurry writing that, that should have read "pin to `@types/snowpack-env@2.3.0` exactly" instead. updated original post

[2020-11-10 01:54] markfirmware commented on #1558
I am not clear on the fix. Is it already applied or doI have to do something to my repo?

[2020-11-10 02:24] stramel commented on #1558
@markfirmware The fix would have to be applied in the typescript repo. The issue was filed by @FredKSchott at microsoft/TypeScript#41468

For now, workarounds are:

- Pin `@types/snowpack-env@2.3.0`
- Add `// @ts-ignore` to ignore the bad error
- Add `!` to assert it. (ie. `import.meta.hot!()`)

[2020-11-10 02:33] markfirmware commented on #1558
Right. Ok. I think you folks are focused on a bigger picture. Right now the typescript templates do not work out of the box (npm run build fails) and it would only take one of your suggestions to remedy that. Should that not be done?

[2020-11-10 02:51] melissamcewen opened #1567 "[plugin-svelte] Fast Refresh doesn't recognize variable value changes via HMR"
As mentioned in discussion #1536 . To replicate use the latest CSA app-template-svelte. Then add this code to your `app.svelte`

[code]

Start up the server, then try changing the value of `name`. The changes do not show up unless you refresh.

[2020-11-10 02:52] melissamcewen commented on #1567
This might actually be fast refresh not working, not HMR, curious to see since the terminology can be confusing haha.

[2020-11-10 02:53] melissamcewen commented on #1567
CC @UARTman @markfirmware

[2020-11-10 02:58] stramel commented on #1558
@markfirmware we're trying to get a PR through on DefinitelyTyped currently that would temporarily resolve the issue.

[2020-11-10 03:03] markfirmware commented on #1558
Ok, got it.

[2020-11-10 03:09] markfirmware commented on #1567
Thanks - I have a repro repo here:
https://github.com/markfirmware/snowpack-svelte-hmr/blob/master/README.md

I did not know there was a fast refresh distinct from hmr.

[2020-11-10 09:30] olivierbossel commented on #1561
I found a way using alias that seems to work.

[2020-11-10 13:09] tianjianchn commented on #1542
I just got the similar problems to load png files(errors like `Failed to load node_modules/p/a/t/h.png`).
Adding configs below to snowpack.config.js will resolve these problems:
[code]

Snowpack will **bundle** each dependency by using rollup(like webpack), so if your dependencies import other types files like images, less, saas files, you should add corresponding plugins to handle them. Maybe sno

[2020-11-10 13:11] lusatiro commented on #1542
Thank you. I'm gonna try it out and let you know.

Em ter, 10 de nov de 2020 10:09, Tian Jian <notifications@github.com>
escreveu:

[2020-11-10 16:51] markfirmware commented on #1567
@melissamcewen @FredKSchott @stramel @UARTman - just changing the text Hello to Hi does work as desired. Does this determine whether the problem is fast refresh versus hmr?

[2020-11-10 16:56] UARTman commented on #1567
Since I don't see this brought up, I will reiterate what I said in discussion threads.
1. The problem is with variables and, probably, only variables. If you declare a function with a proper declaration and not an arrow function it will work.
2. After you change a variable the view stops responding to changes in data.

I am not sure how much help this provides but this is all I have now.

[2020-11-10 16:58] FredKSchott commented on #1558
@orta hate to ping you, but can you help here? A DefinitelyTyped PR needs to get merged in to fix our TS templates, and has been in PR since yesterday with no response from the DT team.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49432

Anyone that you know on that team that I or you could ping to get this prioritized?

[2020-11-10 17:32] FredKSchott commented on #1567
paging HMR Guru @rixo :) I think that this is a limitation of https://github.com/rixo/svelte-hmr, the HMR library that we use internally.

@rixo anything that we can do here to help? If this isn't possible, but you can detect it, then you could call `import.meta.hot.invalidate()` inside of your accept handler to tell the browser to refresh. Obviously not as great as HMR, but better than silently f

[2020-11-10 17:34] UARTman commented on #1567
It isn't variable *name* changes, it's variable *value* changes.

[2020-11-10 17:36] FredKSchott commented on #1567
Updated title! thanks for the correction

[2020-11-10 17:53] FredKSchott commented on #1561
@olivierbossel please resubmit as a discussion (normally I would automatically "convert to discussion" for you, but the GitHub button appears to be broken).

https://github.com/snowpackjs/snowpack/discussions/new

[2020-11-10 17:53] #1561 closed

[2020-11-10 17:54] FredKSchott commented on #1549
This plugin is internal to Snowpack, it isn't exposed as a public plugin.

@zhusjfaker if there's some behavior that you'd like to configure, please resubmit as a discussion (normally I would automatically "convert to discussion" for you, but the GitHub button appears to be broken).

https://github.com/snowpackjs/snowpack/discussions/new

[2020-11-10 17:54] #1549 closed

[2020-11-10 18:06] FredKSchott commented on #1558
We got it through the DT auto-merge workflow instead! Merged and ready to go out in the next @types release. When that happens (@stramel has seen 30min-1hr)  all new templates should be fixed and all existing can do a fresh npm/yarn install of the latest @types package to fix.

Apologies again for the delay getting this out to you all, DefinitelyTyped has limited support for ImportMeta so we had t

[2020-11-10 18:07] #1558 closed

[2020-11-10 18:13] FredKSchott commented on #1554
See comment here: https://github.com/snowpackjs/snowpack/discussions/1537#discussioncomment-125901 we are testing the template builds. But lets keep a convo going about how we could improve those tests in that discussion.

[2020-11-10 18:13] #1554 closed

[2020-11-10 18:14] FredKSchott commented on #1543
Duplicate of https://github.com/snowpackjs/snowpack/issues/1542

[2020-11-10 18:14] #1543 closed

[2020-11-10 18:15] FredKSchott commented on #1542
Closing since it sounds like the comment above will fix, but if you still have issues please file a new discussion to continue to debug: https://github.com/snowpackjs/snowpack/discussions/new

[2020-11-10 18:15] #1542 closed

[2020-11-10 18:17] FredKSchott commented on #1529
How are you importing this? We don't currently resolve the "style" package entrypoint (maybe we should), so it sounds like you're importing `import 'font-awesome';` and then we're failing to resolve that to CSS.

Instead, can you try importing `'font-awesome/css/font-awesome.css';` instead?

[2020-11-10 18:18] FredKSchott commented on #1529
_(Normally I would convert this to a discussion, but I think "handle the `style` package.json entrypoint" makes sense as an enhancement, so will leave this as an issue for now.)_

[2020-11-10 18:20] FredKSchott commented on #1523
Can you file this issue with the `strip-comments` package instead? Since tildas our common in JS, I definitely haven't seen this behavior myself. If you could reduce it down to a simple code snippet that we could all reproduce with ourselves, that would be great.

Closing this as inactionable on our end, but the strip-comments maintainers can't/won't fix, then we can reopen and look for a workarou

[2020-11-10 18:20] #1523 closed

[2020-11-10 18:41] markfirmware commented on #1558
https://github.com/markfirmware/audit/runs/1381414003?check_suite_focus=true

[2020-11-10 18:53] FredKSchott commented on #1558
Dang, looks like you need to `npm install @types/chai --dev` yourself until we add that package to the template.

jeeze workspaces are great but they really mess with our ability to test for missing packages. Since the preact template had this dependency, our tests didn't pick this up as missing.

Fix added here: c2c9a11ca16507ad5921f932d28b45e0c3591572 Will get that out in a patch release today.

[2020-11-10 18:56] markfirmware commented on #1558
Thanks!

[2020-11-10 21:16] rixo commented on #1567
It's not a bug, it's a feature!

[Not kidding](https://github.com/rixo/svelte-hmr#preservation-of-local-state).

This is preservation of local state in action. It's a 2-edged sword. You can turn it off with [an option](https://github.com/rixo/svelte-hmr#nopreservestate).

[code]

Without it, though, you wouldn't have the state of the counter in the default Svelte create-snowpack-app example preser

[2020-11-10 21:28] rixo commented on #1567
Fixed `@!hmr` in `svelte-hmr@0.11.6`. It wasn't specific to Snowpack in fact.

[2020-11-10 21:45] FredKSchott commented on #1567
oh interesting! TIL!

So just to be clear, this behavior only exists for `let` and `var` defined variables, but not `const`.

Thinking out loud: I wonder if there would be some way to keep track of the "original" value of each of these, and then update if a new value was set. Something like:

[code]

[2020-11-10 21:45] #1567 closed

[2020-11-11 06:24] FredKSchott commented on #1276
Laying out some of this groundwork here: https://github.com/snowpackjs/snowpack/tree/wip-optimize

[2020-11-11 11:32] bskimball commented on #62
@krumware Are you still able to use socket.io-client with this set up? I can't seem to get it to work

[2020-11-11 12:00] yxqme opened #1581 "web-test-runner-plugin and proxy config"
I am using the Create Snowpack App React TypeScript template and use web-test-runner-plugin; when i try to run the tests with proxy, the proxy config doesn't work, the axios response result index.html content

[code]

[2020-11-12 00:44] drwpow commented on #1276
What would be neat for an SSR-minded setup is allowing glob entrypoints. For example, according to Next.js philosophy, your entrypoints live in `pages/*`. So what if we made that possible, e.g.:

[code]

It embraces the SSR setup, and allows users to not manage configs every time they make an app change.

[2020-11-12 02:34] #1581 closed

[2020-11-12 16:33] #1529 closed

[2020-11-12 19:39] #1420 closed

[2020-11-12 20:14] tomnil opened #1592 "socket.io-client.js: Cannot access 'XMLHttpRequest' before initialization"
Hi.

Using Snowpack with with ```socket.io-client``` + ```react``` renders an exception, but running it with traditional React works fine. The bug might be in socket.io:s code, but I don't think so. Note, there are information how to workaround the problem at the end (for now).

**Steps to reproduce**
1. npx create-snowpack-app new-dir --template @snowpack/app-template-react-typescript
2. cd new-d

[2020-11-12 21:18] drwpow opened #1593 "clean up and standardize cwd/root behavior (incl. JS API)"
## Problem

When using the JS API (e.g. `import { startDevServer } from 'snowpack';`), the `cwd` option doesn‘t get passed through to the rest of snowpack, which poses a problem in a larger project. Consider the following scenario:

[code]

Say a Snowpack project lives in `client/`, and inside `snowpack.config.js`, all the mounted folders point relatively within `client/`. Everything works fine wh

[2020-11-13 09:17] kunfan96 opened #1596 "About Electron"
How can I run the project in **Electron** with **Snowpack**?Example?

[2020-11-13 19:17] thescripted commented on #1593
If alright, I'd like to take up and work on this issue!

[2020-11-13 22:44] krumware commented on #62
@bskimball sorry for the late reply. I haven't used it in some time, but your solution makes sense since importing the full file path is required.

Also, Chart.js has a Next branch with esm support, unless they've already released 3.0+

[2020-11-14 04:23] #1596 closed

[2020-11-14 09:09] Gazzia29 opened #1607 "Can't build with @snowpack/plugin-svelte with svelte's latest version"
@snowpack/plugin-svelte uses "rollup-plugin-svelte" v6.0.0, but with the latest version of Svelte, the build command halts with the error :

[code]

This is apparently fixed with v6.1.1 of rollup-plugin-svelte.

[2020-11-14 21:40] markfirmware commented on #1558
@FredKSchott Need this also for app-template-preact-typescript

[2020-11-15 10:24] Pajn commented on #1144
Is there a workaround for this?
Snowpacks import handling of wasm modules is currently very shaky (partly because it inherits problems in rollup) so I would like to just follow the current web standard that says, fetch the wasm module and instantiate it manually. However, to do that I need to be able to install the wasm module so it's available after build.

[2020-11-15 11:43] yukulele commented on #1144
@Pajn yes:
https://github.com/snowpackjs/snowpack/discussions/1081#discussioncomment-85966

[2020-11-15 12:50] Pajn commented on #1144
@yukulele That doesn't with wasm. Based on two days of testing, importing wasm is completely broken in snowpack/rollup and there is no way to get it to work as specified here https://github.com/WebAssembly/esm-integration (even with `@rollup/plugin-wasm`) or with a custom snowpack plugin (those does not seem to run at all on files in node_modules). A custom rollup plugin may have worked but I didn

[2020-11-15 19:25] markfirmware opened #1612 "unuseable template - preact-typescript"
Even with chai installed:

    npx create-snowpack-app --template @snowpack/app-template-preact-typescript unuseable-preact-typescript
    ...
    cd unuseable-preact-typescript
    npm i @types/chai
    ...
    npm run build
    ...
    [@snowpack/plugin-typescript] src/App.test.tsx(6,1): error TS2582: Cannot find name 'describe'. Do you need to install type definitions for a test runner? Try `np

[2020-11-15 23:58] orta commented on #1558
sorry - 5 days late, but pinging me was a good call ( I would have recommended setting it up how you did, I just get a lot of pings and some fall through the crack )

[2020-11-17 06:27] markfirmware commented on #1612
Needs

    npm i @types/chai
    npm i @types/jest or npm i @types/mocha

https://github.com/markfirmware/audit/runs/1410602357?check_suite_focus=true

[2020-11-17 08:41] markfirmware commented on #1612
I do not know which of jest or mocha is correct.

[2020-11-17 13:53] jet10000 opened #1625 "How to use HMR and fastapi/jinja2 together"
Snowpack is very good, very flexible, combined with various advantages, we can combine vue and svelte applications into django projects, use django routing and templates, but how to solve the HRM and django cooperation, is there a guide?

[2020-11-17 15:17] zhusjfaker opened #1626 "if i want exclude all packages in esinstall throw error 'No ESM dependencies found' can't develop"
git repo:

https://github.com/zhusjfaker/snowpack-externalPackage-bug

https://github.com/zhusjfaker/snowpack-externalPackage-bug.git

cmd:

npm run dev

console:

No ESM dependencies found! ........

code location:

esinstall

line 270

[code]

[2020-11-17 16:13] danielo515 commented on #1625
How do you use snowpack with django templates?

[2020-11-17 17:28] r6203 commented on #1592
Seems to be related to? #62

As a workaround importing like this works:  `import io from "socket.io-client/dist/socket.io.js"`
Original comment here: [https://github.com/snowpackjs/snowpack/issues/62#issuecomment-725372097](https://github.com/snowpackjs/snowpack/issues/62#issuecomment-725372097)

[2020-11-17 18:24] jet10000 commented on #1625
![image](https://user-images.githubusercontent.com/2258120/99431022-0cd99380-2945-11eb-973b-968699347ea3.png)

just build snow-fastapi-app-frontend/templates to snow-fastapi-app/assets/templates

[2020-11-17 18:25] jet10000 commented on #1625
![image](https://user-images.githubusercontent.com/2258120/99431185-54f8b600-2945-11eb-96bb-ede37460316c.png)

[2020-11-17 22:19] jet10000 commented on #1625
![image](https://user-images.githubusercontent.com/2258120/99457498-0dceed00-2966-11eb-9f82-e39fc07c693c.png)

[2020-11-17 22:36] jet10000 commented on #1625
![Uploading image.png…]()

[2020-11-17 22:36] jet10000 commented on #1625
![image](https://user-images.githubusercontent.com/2258120/99459031-6b643900-2968-11eb-8f90-14704c92ae1f.png)

[2020-11-17 22:57] jet10000 opened #1636 "Can mount to remote folder?"
I am using django and snowpack, can I mount to a remote folder, such as http://127.0.0.1:8000/, which is a django development server that generates html pages.

[2020-11-17 23:06] #1636 closed

[2020-11-18 01:20] ted-mccarthyfinch commented on #440
@cherihung did you figure out how to handle your issue? I'm running into the same issue with styled-components.

[2020-11-18 03:27] Magin-CC opened #1639 "load order of rollup plugin"
https://github.com/snowpackjs/snowpack/blob/09a1d5bf9f2bff8a86f8c9ff6aefe1d2d97e9813/esinstall/src/index.ts#L398

I need to use @rollup/babel-plugin to transform jsx code in node_modules.
but it does not work.
I move this line upper than rollup_plugin_css, it worked.
so I think it is mistake for load order of rollup plugin

[2020-11-18 05:02] stolinski commented on #1247
Did this make it in the last release? I'm running `2.17.1` and still seeing this.

[2020-11-18 16:16] Mozart409 commented on #1503
Hi, I think this can be closed?
https://www.snowpack.dev/#tailwind-css
Does this fulfil your desire?

[2020-11-18 16:19] Mozart409 commented on #1612
#611 https://github.com/Mozart409/snowpack-app-template-preact-hmr-tailwind/issues/1

I would like to add my "custom template" to the official templates so you can install them via

[code]

It this possible? Which steps would I need to do and how can I help you @FredKSchott @drwpow ?

[2020-11-18 18:40] drwpow commented on #1612
The `--template` flag specifies any npm package. So if you deploy that to npm, you should be able to use that now! You can also test it locally by running `npx create-snowpack-app --template /Users/Mozart409/path/to/my/template <YOUR-APPNAME>` which will be faster than testing on npm.

[2020-11-18 18:52] drwpow commented on #1612
Added a fix for this in #1648

[2020-11-18 19:05] drwpow commented on #1626
I agree this is unexpected behavior! But just out of curiosity, why are you marking `'react', 'react-dom'` as external? That will leave `import react from 'react'` in your code, which won‘t run in a browser (or Snowpack‘s dev server). If I would understand a little more about how you’re using that, we could find a way to suppress this error.

[2020-11-18 19:07] drwpow commented on #1593
@thescripted Sure! Please take a swing at it 🙂

[2020-11-18 19:10] drwpow commented on #1607
@Gazzia29 good catch! Updating this in #1650 to go out with the next release 🙂

[2020-11-18 19:10] #1612 closed

[2020-11-18 19:35] #1607 closed

[2020-11-18 20:34] Gregoor commented on #1280
Heya, thanks for snowpack, really enjoying it so far. Running into a bit of a problem where FF&Safari won't work because both of the WebWorker implementations don't seem to support `import`-ing from inside a worker. Any idea for a workaround within snowpack?

[2020-11-18 23:41] cherihung commented on #440
@ted-mccarthyfinch no, I wasn't able to solve with changing snowpack config. since I had also control of the package I was consuming, I ended up tweaking it to publish both cjs and mjs components. and adding a "module" field to that package. I know it's not a real solution to the problem but it worked for my purpose at this time.

[2020-11-19 02:14] 331000738 commented on #535
add this code to your "index.html", then the problem will be resoved:

[code]

[2020-11-19 02:15] #1276 closed

[2020-11-19 07:52] ruslan-khomiak opened #1655 "Split chunks"
I want to migrate an existing application to snowpack. Is there chunk support for @snowpack/plugin-webpack ?
I have dynamic imports and comments for chunks, like /* webpackChunkName: "AdminModule" */. But this does't work when building for production with @snowpack/plugin-webpack.
I asked a question in the discussion, but I was not answered.

[2020-11-19 10:24] #1626 closed

[2020-11-19 10:32] zhusjfaker opened #1656 "How to implement functions like Babel plugin import in snowpack and influence esinstall"
https://www.npmjs.com/package/babel-plugin-import

[code]
convert
[code]

[code]

convert

[code]

https://github.com/snowpackjs/snowpack/tree/main/plugins/babel-plugin-package-import

Can I use 'babel-plugin-package-imports' to add additional map.json before esintsall proccess

[2020-11-19 11:36] kenchris opened #1657 "Issues with treeshaking"
Building https://github.com/kenchris/webnfc-groceries with tree-shaking on fails as lit-element only exports "css" and not "LitElement", "html" etc.

[code]

[2020-11-19 11:49] markfirmware opened #1658 "preact-typescript needs jest"

[2020-11-19 12:00] markfirmware commented on #1612
FYI github removes closed issues from the dashboard without any notice to the opener.

[2020-11-19 12:05] markfirmware commented on #1612
All of the other official templates come with a working npm run build.

[2020-11-19 13:32] markfirmware commented on #1658
Also publish to npm

[2020-11-19 19:13] zhusjfaker commented on #1656
I've solved this problem with my own rollup plug-in

[2020-11-19 19:14] #1656 closed

[2020-11-19 19:24] melissamcewen commented on #1503
@Mozart409 still in progress, I'm going to be writing a full guide along the lines of the guides on this page https://www.snowpack.dev/guides

You can follow the progress of the docs in the `main` branch

[2020-11-20 16:13] danielo515 commented on #1625
So you just change your djanto templates to fetch from snowpack server?

[2020-11-20 17:30] jet10000 commented on #1625
I found a better way

Still continue to use django server for development, snowpack or reboost is only used as HMR service, I tried to combine snowpack, but snowpack's svelte, vue, react hot modules replacment function has some problems, always refresh the page. Until I tested reboost, everything worked.

https://github.com/sarsamurmu/reboost/issues/47

https://github.com/sarsamurmu/reboost/issues

[2020-11-22 12:21] hornta opened #1681 "Writing React(JSX) without needing to import React"
Since React introduced the new JSX transform right before React 17 importing React is not needed anymore when writing react components(JSX). Is it something that can be added to snowpack or maybe the snowpack react template? I'm relatively new to snowpack but this was the first thing I clearly noticed when started to use Snowpack.

https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transf

[2020-11-23 07:17] denis-sokolov commented on #1527
To add a use case, there are webpack plugins that rely on the error to signal a validation failure. This bug makes them effectively incompatible with Snowpack. An example: [license checker](https://github.com/microsoft/license-checker-webpack-plugin/).

[2020-11-23 11:47] Gregoor commented on #1213
Also happy to help with this, @alex-saunders lmk if you need eyes/ears/brains for review or I can also take a stab at it if you don't have the time right now (though it sounds like you're more experienced with the subject matter).

[2020-11-23 19:58] markfirmware opened #1687 "Added a fix for this in #1648"
Thanks!

npm run build

still needs @types/chai and also @types/jest

also will need to publish to npm registry

Added a fix for this in #1648

I’m seeing this work without `@types/jest` or `@types/mocha`, at least with the unmodified template. Is that correct? I’d like to simply let people install additional tools or swap the test runner if they so choose.

_Originally posted by @drwpow in https:

[2020-11-24 14:29] high1 commented on #1278
I was looking at [import-resolvers](https://github.com/snowpackjs/snowpack/blob/main/snowpack/src/build/import-resolver.ts), and I'm not sure what should be done with it in context of this refactor? @drwpow @FredKSchott I could use an opinion with in-depth knowledge.

[2020-11-24 14:35] enjikaka opened #1693 "@snowpack/plugin-postcss does not work with imports (postcss-import)"
Provided you have a file structure like:

[code]

and main.css contains `@import "./variables.css"` then this variables.css is not found by postcss when running snowpack.

This is due to postcss being run in / and that is also sent as the --from flag to postcss, so ./variables.css is attempted to be resolved there. @snowpack/plugin-postcss sets the cwd value on line 17 to /src instead of the direc

[2020-11-24 17:34] phaux commented on #1681
It can be configured but the setup is non-trivial.

[code]

[code]

[code]

[code]

[2020-11-25 03:07] DrSensor commented on #376
Unfortunately either:
[code]
or
[code]
or
[code]

doesn't override import.meta.env specified in `build/__snowpack__/env.js` 😢

[2020-11-25 15:38] stephanedemotte commented on #1592
Get the same error with [vitejs](https://github.com/vitejs/vite)

I simply call `import io from 'socket.io-client'` and boom error
[code]

I've tried `import io from "socket.io-client/dist/socket.io.js"`
But got
[code]

[2020-11-25 17:07] #1503 closed

[2020-11-26 09:05] bkniffler opened #1712 "process.env in code via config file"
We can inject env vars by carefully naming them SNOWPACK_PUBLIC_* since https://github.com/snowpackjs/snowpack/pull/394 was merged. But I think this does not allow for enough flexibility. NextJS allows to set env variables via next.config.js (https://nextjs.org/docs/api-reference/next.config.js/environment-variables), and I'd suggest to add a similar option to snowpack.config.js buildOptions.env /

[2020-11-26 18:41] angryziber commented on #1693
Exactly the same problem with `plugin-sass`...

[2020-11-26 19:07] angryziber opened #1717 "@snowpack/plugin-sass does not react to changes in imported files"
It seems, the plugin is quite new and only recently the recommendation was to use:

`['@snowpack/plugin-run-script', {cmd: 'sass src/scss:public/css --no-source-map', watch: '$1 --watch'}]`

(which can resolve imported files and react to their changes)

The new `@snowpack/plugin-sass`, however, has the function `scanSassImports`, but it doesn't go through imports recursively.

Also, in SASS/SCSS i

[2020-11-26 19:17] angryziber commented on #1717
I tested with the latest version 1.1.1 of the plugin.
I have noticed that there was an effort to fix some import issues:
https://github.com/snowpackjs/snowpack/pull/1274

However, recursive resolving of imports was not done.

[2020-11-27 06:41] twop commented on #1280
I have a difficulty configuring this setup:

- Typescript
- WebWorker
- WASM inside WebWorker

currently, my code looks like this:
[code]
Note I do have `worker.ts` file.

## In DEV
With that code I get
[code]

if I change my code to
[code]
I got the same `404` response.

## In PROD
When I generate with `worker.ts` in the source I get this:
[code]
Thus, I don't know how to configure that properly

[2020-11-28 10:00] tomnil commented on #1592
Stephanie, I can confirm this workaround works fine. Thanks a lot! /T

[2020-11-28 18:58] meh commented on #1122
My use case is to have `import icons from './icons/*.svg'` doing a glob of that directory and using svgstore and svgo to turn it into an SVG thingy.

I already have a rollup [plugin](https://github.com/meh/rollup-plugin-svg-store) that does this.

[2020-11-29 07:49] FredKSchott commented on #1528
Done! deprecated in favor of this direction: https://next.snowpack.dev/guides/routing

[2020-11-29 07:49] #1528 closed

[2020-11-29 07:50] FredKSchott commented on #1381
Update: https://github.com/shellscape/webpack-manifest-plugin/issues/222#issuecomment-730409884

[2020-11-30 00:39] justrhysism opened #1740 "ESModule filter fix never made it to release"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/1312
**/cc** @jsefiani @FredKSchott @alavkx @stolinski @ryankask @Royd-GM @jamesscaggs

Esmodule filter fix per the discussion never actually made it into the release, despite being listed in the [release notes](https://github.com/snowpackjs/snowpack/discussions/1183#discussioncomment-123637).

Not sure what happened to th

[2020-11-30 08:03] greg-minshall commented on #1286
btw, in case it's of interest, i would like to mount general things in node_modules (in particular, fonts and images from lightgallery).  `npx snowpack build` ignores these mounts, though `npx snowpack dev` seems to accept them.  (should the behavior be consistent between the two?)

[2020-11-30 10:51] deepkolos opened #1743 "windows's file name doesn't support : char, it is possible replace to another one"
![图片](https://user-images.githubusercontent.com/12824616/100600903-e2240d80-333c-11eb-8bfe-ce4b9a261a08.png)

![图片](https://user-images.githubusercontent.com/12824616/100600944-efd99300-333c-11eb-8526-b4c5e485478a.png)

![图片](https://user-images.githubusercontent.com/12824616/100600990-01bb3600-333d-11eb-9d52-b3ad2e3562fa.png)

[2020-12-01 03:32] manzt commented on #376
Sorry if I'm being naive here, but is it possible to run `snowpack build --watch` without needing to install all dependencies each time?

I ask because the dev experience is much better for `snowpack dev` where web_modules are only installed the first time, and restarting `snowpack dev` is nearly instant. But with `snowpack build --watch`, you have to pay for the upfront install each time you rest

[2020-12-01 08:44] artecoop commented on #1681
@phaux Thanks for your explanation and example. In order to complete your exceptional answer, I had to update the install section of snowpack config as
[code]

[2020-12-01 15:32] wanglam commented on #1681
It seems like a [issue](https://github.com/evanw/esbuild/issues/334) about esbuild If you don't want to use @snowpack/plugin-babel.

[2020-12-01 19:23] nailuj29gaming commented on #1596
I would also like to see an example

[2020-12-01 20:57] Boldewyn commented on #1693
I’ve got the same problem. Either I import with `@import "./bar.css";` and cannot use `snowpack build`, or I import via `@import "bar.css";` and cannot use `snowpack dev`.

Minimal test case:

[code]

[code]

[code]

[code]

[code]

[code]

This project cannot run either `snowpack dev` or `snowpack build`, because in any case one of the two importing CSS files will fail.

[2020-12-02 02:50] chopfitzroy commented on #429
Just chiming in here, above linked `"source"` field that is used in `parcel` is the same field `microbundle` to build from.

It seems to have become something of a standard among bundlers, would it be possible to evaluate this field, see if the file exists, and then build from it, and watch if possible?

That being said I have [experienced issues](https://github.com/parcel-bundler/parcel/issues/45

[2020-12-02 03:43] shellscape commented on #1381
An update for you all here: https://github.com/shellscape/webpack-manifest-plugin/issues/222#issuecomment-736969974

[2020-12-02 14:05] gremo opened #1777 "When index.html has <!doctype html> (lower case) reload doesn't work anymore"
[code]

Then change `index.html` so that the HTML declaration looks like this ([perfectly legal](https://www.w3schools.com/tags/tag_doctype.asp), it's not case sensitive):

[code]

[code]

... **live reload doesn't work**, I suppose that script that handles it isn't injected in the `<head>` tag.

[2020-12-02 14:15] cortopy commented on #1280
I was also caught by the need to add the `'./_dist_/` prefix to the worker uri

@FredKSchott I think this might be snowpack specific, and so maybe worth adding to your checklist for this issue?

[2020-12-02 18:09] sebastienbarre commented on #464
Howdy.

Note that this will only work if you *build* your project with Snowpack (rollup?).
This will fail if you are using `'@snowpack/plugin-webpack'`, where this line below will confuse Webpack:
[code]
The workaround (as of December 2020) if you are using Webpack is to keep using `%PUBLIC_URL%` for things like favicons in `public.html`, but do NOT use it for `_dist_/index.js` specifically, e.g.:

[2020-12-02 20:00] kennethklee opened #1779 "plugin-svelte CSS @import resolves to /web_modules, even with baseUrl set"
Global style imports resolve to the wrong url when baseUrl is set.

### Example

snowpack.config.js:

[code]

App.svelte:
[code]

### Expected

Text "Hello" has the bulma title style.

### Actual

When visiting http://localhost:8080/blog, we get the following browser error:

Meanwhile, "Hello" has the default h1 style.

[2020-12-03 02:27] pschyska commented on #580
@FredKSchott I tried to get your pseudo-code above to work with postcss but failed. I could get a simple css file loaded and exported as a string (after changing it to return `{".js": { code: `export default ${JSON.stringify(contents)};`}}`, otherwise snowpack would replace the import with `.css.proxy.js` and this would resolve to the old proxy implementation).  Without postCSS or something simila

[2020-12-03 09:02] alubbe commented on #1052
hey ya - just wanted to check in on this issue. is there some way to help out getting started with this, or is the current focus on new snowpack features elsewhere?

[2020-12-03 11:27] cortopy commented on #1280
I've been trying web workers with snowpack, and I've come up with the required steps to make it work (ish)

This snippet should nearly work:

[code]

Some notes for the documentation:

When creating a Worker, snowpack relies on the native support from webpack 5. The first argument of the Worker is a URI with the location of the file in the final bundle. Please note that this URI is not fully resol

[2020-12-04 03:32] adam-beck commented on #1213
I don't have a lot of experience with building any sort of tooling but this seems like such an important feature to include. So, as a beginner what sort of things would help me get started implementing this? I know a couple people have offered help but it seems the issue isn't making much progress.

I want to help. I just don't know what I'm doing.

[2020-12-04 09:35] UnlockDep opened #1812 "Can't get Sass to work with @snowpack/app-template-react-typescript"
_I'm trying to get Sass to work with <a href="https://github.com/snowpackjs/snowpack/tree/main/create-snowpack-app/app-template-react-typescript">@snowpack/app-template-react-typescript</a>_ <br>
I followed <a href="https://www.npmjs.com/package/@snowpack/plugin-sass">this</a>. I've tried making a new project and adding it but still nothing works :( <br>

**snowpack.config.js**
[code]

If you need

[2020-12-04 11:35] DavidDeSloovere commented on #1812
you could run with `snowpack dev --verbose` to get some more info as to what is happening.
are the scss files in the src directory?

[2020-12-04 11:44] UnlockDep commented on #1812
@DavidDeSloovere I don't understand it take a look
https://gist.github.com/UnlockDep/492a0ef779b6ba80df3d8efedc3e106c

[2020-12-04 11:51] DavidDeSloovere commented on #1812
In what directory are your scss files?

[2020-12-04 12:08] UnlockDep commented on #1812
@DavidDeSloovere The scss files are in the same directory as the component files / tsx files

[2020-12-04 12:19] DavidDeSloovere commented on #1271
I'm stuck with excluding the `_` files and not having changes picked up in those files under `snowpack dev`.
Importing the scss file in entry js (TS in my case) does not seem to help.
The `_` files are built anyway.
Any suggestions?

[2020-12-04 12:39] UnlockDep commented on #1812
Wait I Just made another project for the reproduction repo and now it works! Why isn't it working in my other project?

[2020-12-04 12:40] UnlockDep commented on #1812
I'ma close the case now

[2020-12-04 12:47] UnlockDep commented on #1812
It turns out it just didn't load 😋.
Still same issue

[2020-12-04 18:41] MTG2000 opened #1819 "Images Url are broken when building with a baseUrl"
Hi,
I have always used webpack previously but decided to try out snowpack with a test project
I liked it so much this far, but when I came to building & deployment .... problems appeared :(
I have been struggling for hours with an issue related to images paths.
I have a react project, where I have a component that imports images from src/assets folder.
I also have a baseUrl cause my app is hosted

[2020-12-04 18:57] DreierF commented on #194
The latest versions of snowpack (2.18.0, 3.0.0-rc.1)no longer seem to be compatible with yarn PnP.

To reproduce run:
[code]

(Adding rollup-plugin-pnp-resolve does not help as well)

I traced it down to https://github.com/yarnpkg/berry/issues/899 which is open for quite some time already.
@FredKSchott Is there any chance that this could be fixed on the snowpack side?

[2020-12-04 21:08] #1779 closed

[2020-12-04 21:12] #1777 closed

[2020-12-04 21:14] #1743 closed

[2020-12-04 21:15] FredKSchott commented on #1740
That's really strange, I'll have to find out why it was in the release notes but not the 2.17.0 release. Regardless, this has definitely gone out with 2.18.0 (you can see the commit in the git log). Thanks for bringing this up, and sorry for the delay getting this out!

[2020-12-04 21:15] #1740 closed

[2020-12-04 21:16] #1717 closed

[2020-12-04 21:17] #1712 closed

[2020-12-04 21:19] #1812 closed

[2020-12-04 21:20] #1693 closed

[2020-12-04 21:21] melissamcewen commented on #1687
Hi @markfirmware , this should have been fixed in 2.18, let us know if it's not working for you

[2020-12-04 21:21] #1687 closed

[2020-12-04 21:22] #1681 closed

[2020-12-04 21:22] #1658 closed

[2020-12-04 21:22] #1657 closed

[2020-12-04 21:24] melissamcewen commented on #1655
Hi @ruslan-khomiak can you link to the discussion so we can take a look? Closing this since it's a discussion and issues are reserved for triage. Thanks!

[2020-12-04 21:24] #1655 closed

[2020-12-04 21:25] #1639 closed

[2020-12-04 21:25] #1625 closed

[2020-12-04 21:26] #1592 closed

[2020-12-06 01:51] pschyska commented on #580
@11111000000 I made a hack like this now
[code]

Mention it in your snowpack.config.js:

[code]

Seems to work in dev+build now. I'm using it like this:
[code]

Then I can import globalStyles in my components:

[code]

I added these typings in types/static.d.ts:
[code]

If you don't want to use adoptedStyleSheets the `*.css` line is enough. (And remove the document.adoptedStyleSheet line above). I

[2020-12-06 08:23] #1819 closed

[2020-12-06 16:58] itaditya commented on #1122
Similar to @remorses I'm trying to build a storybook-like solution to showcase components in isolation. For that, I need to find the files with `*.stories.js` and import each of them in a virtual module. I found this plugin in rollup. Can I use it with snowpack?

https://github.com/rollup/plugins/tree/master/packages/virtual#usage

[2020-12-06 21:13] FredKSchott commented on #1593
@thescripted Drew and I were just talking about this, and I think we want to tackle this as a larger "what is the root in a Snowpack project?" Currently it is the `process.cwd()`, but for programatic usage (including our own testing needs) we want to turn this into a larger "root"/"resolveFrom" concept that sets the root of your project AND defaults to where your closest `snowpack.config.js` file

[2020-12-06 21:25] FredKSchott commented on #1478
We're looking into this as a part of v3.0 release next month! This suffers a bit from a conflict with how we handle source maps of generated build files, but agreed that a `.map` file on disk should take priority here and be served directly at that URL in dev.

Also related, is that we don't automatically detect a `sourceMappingURL` comment inside of an npm package CSS file when we install it. So

[2020-12-06 21:28] FredKSchott commented on #1381
Thanks @shellscape! I'm going to close this issue on our end for now, since we use our issue tracker for prioritized tasks only and it sounds like the Webpack v5 ecosystem (and webpack core, to an extent) needs a bit more time to settle. Will reopen when we have the time & when it feels safe to upgrade (probably post Snowpack v3 launch).

In the meantime, I believe that there is a discussion in ou

[2020-12-06 21:28] #1381 closed

[2020-12-06 21:29] pho7on commented on #1478
Well, i am including compiled css in index.html (public directory), so i hope there will be fix for that

[2020-12-06 21:30] FredKSchott commented on #1052
Hey! I'd still love to see this, but it's advanced enough and nice-to-have enough that we need to focus elsewhere for now. I'll reopen this once v3 is out the door and we can revisit. Would still love help in other issues though, if you're interested in contributing!

[2020-12-06 21:30] #1052 closed

[2020-12-06 21:32] FredKSchott commented on #1478
There will definitely be a fix for this in v3, but hopefully sooner

[2020-12-06 21:36] pho7on commented on #1478
Thats great. Thank you for reaching out. Keep up with awesome work!

[2020-12-07 14:49] ruslan-khomiak opened #1856 "Import of chart.js 3 is not working"
I use chart.js 3 and have a problem with import.
I get error `Uncaught (in promise) SyntaxError: The requested module '../../../../web_modules/chartjs.js' does not provide an export named 'Chart'`

My import looks like this `import {
    Chart,
    CategoryScale,
    LinearScale,
    LineController,
    LineElement,
    PointElement,
    BarController,
    BarElement,
    Tooltip
  } from 'chart.j

[2020-12-07 17:36] benjamin79 commented on #1856
I think this is the same reason and will be fixed early next week. https://github.com/snowpackjs/snowpack/discussions/1816#discussioncomment-148416

[2020-12-07 19:26] FredKSchott commented on #1856
Hmm, this may be different than that issue. I can see the "Chart" export inside of the new Chartjs ESM entrypoint: https://unpkg.com/browse/chart.js@3.0.0-beta.7/dist/chart.esm.js

 If you feel comfortable adding logging info into your installed node_modules, it would be great to see what's going on inside of our UMD-> ESM handler. The file to add logs to is: `esinstall/lib/rollup-plugins/rollup-p

[2020-12-07 22:20] #1527 closed

[2020-12-08 06:09] rajasegar opened #1863 "Add --skip-git option to create-snowpack-app"
When using csa to create projects inside a mono-repo, creating an entirely new git repository is not necessary. It would be great to pass this as an option to csa like below:

[code]

[2020-12-08 07:40] ruslan-khomiak commented on #1856
I added logging info as you said, but nothing showed up in the console

[2020-12-08 11:46] nfcopier commented on #1626
I was thinking of doing the same thing. The idea is that I'd be creating a few client modules bundled with snowpack that would themselves be installed as npm dependencies in a larger app. The built code would keep its dependencies as node modules instead of web modules. Only the top level app that actually serves the files would do the final conversion to  web modules.

As a better alternative, I'

[2020-12-08 15:17] winkler1 opened #1870 "Docs - 404"
https://www.snowpack.dev/reference/configuration has a bad link to `tsconfig.json`--

`Install TypeScript type declarations with your packages. Requires changes to your tsconfig.json to pick up these types.`

(found via https://chrome.google.com/webstore/detail/check-my-links/ojkcdipcgfaekbeaelaapakgnjflfglf)

[2020-12-08 16:46] m9dfukc commented on #1271
Hi,

I am also facing this issue. I am trying to get an old codebase to convert over to snowpack but this problem seems to be a roadblocker.

[code]
I can't find any documentation about this setting, it also doesn't change anything if added to the snowpack.config.js.

[2020-12-08 17:26] FredKSchott commented on #1863
Oh wow, surprised by the quick +1s on this one! If this is something that people would like, I'm +1

[2020-12-08 18:10] FredKSchott commented on #1870
Thank you! Would love a PR if you're able to fix!

@melissamcewen were you ever able to get your link checker running? Let me know if I can help, we still need that to catch  all future issues.

[2020-12-08 18:10] #1870 closed

[2020-12-08 18:13] FredKSchott commented on #1626
Adding Skypack CDN support is a big part of our v3.0 release: https://www.snowpack.dev/posts/2020-12-03-snowpack-3-release-candidate

[2020-12-08 18:15] FredKSchott commented on #1271
This is an old issue, and I don't think that config is relevant anymore. `@snowpack/plugin-sass` should do everything that you need to support this, but if you're running into problems please create a new discussion with steps to debug/reproduce

[2020-12-08 19:09] #1863 closed

[2020-12-08 19:12] FredKSchott commented on #1856
Oh interesting, so that means that we're not doing any tree-shaking that could cause this. This is just what esinstall/Rollup sees when it scans that package for exports.

If you run Snowpack with the `--verbose` flag, you'll get some other output that may help you, including what file we're installing as the top-level entrypoint for chart.js. Can you see which file inside of chart.js is being use

[2020-12-08 19:12] #1856 closed

[2020-12-08 20:01] drwpow opened #1875 "esinstall: use Node API for tests"
## Changes

Currently our `test/esinstall/*` tests are testing through the Snowpack interface when we could use esinstall’s Node API directly. Let’s update these tests to either move them into `test/build` to become proper Snowpack tests, or update them to use esinstall’s Node API.

## Test changes

All tests are located in `test/esinstall/[testname]`

- [x] `auto-named-exports`: (@drwpow) **KEEP.

[2020-12-08 20:06] drwpow commented on #1875
Some resources:

- [Node.js docs on export maps](https://nodejs.org/api/packages.html#packages_package_entry_points)
- Good examples of packages with export maps:
  - `preact@10.5.7`: good example of export map fallbacks (`browser` vs `import` vs `require`)
  - `preact@10.3.0`: example of an “invalid” export map where the `"."` key is missing (must fall back to `"module"`)
  - `svelte@3.31.0`: jus

[2020-12-08 20:09] FredKSchott commented on #1213
Discussion/Proposal created to intentionally remove sourcemap support from dev in v3.0 (while keeping it for bundled/optimized/minfied build output)
https://github.com/snowpackjs/snowpack/discussions/1876

[2020-12-09 11:21] m9dfukc commented on #1271
Old issue but still a problem ;)

Using "snowpack": "^3.0.0-rc.1" and "@snowpack/plugin-sass": "^1.1.2" I run into this exact error when using `snowpack build`. It looks like partials are getting picked up which leads to mentioned errors. According to the sass-lang documentation partials (starting with "_") should be ignored by the compiler ... this is definitely not the case here!

[2020-12-10 04:22] markfirmware opened #1895 "csa preact-template ... npm run build ... errors but all other templates are ok"
@Mozart409 maybe you can make a pr? I do not know how to fix.

[2020-12-10 06:42] FredKSchott commented on #1271
Bah, you're right. I mention fixing this in that thread, but it looks like the fix never made it in (or may have gotten removed at some point). Will add back.

Thanks for the heads up!

[2020-12-10 06:45] FredKSchott commented on #1271
Fixed in 64024ccc

[2020-12-10 07:47] thescripted commented on #1593
I'm very interested in this, but I am stretched thin between my commitment to other work and my lack of knowledge in this space (and why I haven't updated much in this issue). This might be too big for me at the moment.

If, down the road, this or related issue gets broken down into multiple PRs I believe I could help out. Would also still love to find ways to contribute in general as well!

[2020-12-10 15:33] m9dfukc commented on #1271
Cool thanks. Now let's get the hmr / reloading working for partial file ;) I started a new discussion [here](https://github.com/snowpackjs/snowpack/discussions/1898).

[2020-12-10 17:53] FredKSchott commented on #1593
np, appreciate the offer to help! We're looking to get this out as a breaking change in v3, so @drwpow or @matthewp may be tackling sooner

[2020-12-11 07:13] #1895 closed

[2020-12-11 09:52] februarycat commented on #1593
@FredKSchott  Would love to give it a shot if this is still open!

[2020-12-11 15:23] matthewp commented on #1875
@drwpow For the `error-file-ext` test, the build does not error like running install does. Is this expected or a bug?

[2020-12-11 16:05] drwpow commented on #1875
Oh yeah. I forgot that we changed the behavior for install, so that it no longer throws an error. I believe this test should have been deleted then. Going forward it’s less important to test `snowpack install` than `esinstall`. But my gut says based on the fact that we want esinstall to handle every file ext, we should just delete this test. We have `import-assets` testing this.

And if you’re loa

[2020-12-11 17:18] februarycat commented on #1593
Here's what I accomplished so far:
https://github.com/februarycat/snowpack/tree/Replace-process-cwd-with-configurable-root-option

I'm not 100% sure it's complete as I didn't have much time today to test it all. When I have some free time I'll check if I can replace the rest of the `cwd` instances in the code.

I'll be waiting to hear your thoughts on whether this is a good start for the refactor!

[2020-12-11 19:31] FredKSchott commented on #1875
we talked about this 1:1, but just posting here in case anyone else is reading: our current behavior is that esinstall does handle `.svelte` files, since it's purpose is to bundle every npm package into a single JS file. We may want to make this optional in a future version, but that's the current behavior.

[2020-12-11 19:47] FredKSchott commented on #1593
Awesome! I may actually be taking over this initiative instead of @drwpow or @matthewp, in which case I'd love to help you with your PR! I'll take a look later today and can provide feedback.

Can you create a draft PR of your branch? It will be easier for me to check out and leave feedback that way

[2020-12-11 20:04] februarycat commented on #1593
Yep, here's the draft:
https://github.com/snowpackjs/snowpack/pull/1928

[2020-12-11 20:05] februarycat commented on #1593
Oops, apparently Vercel is deploying everything on my account T_T. I'll take care of it tomorrow

[2020-12-11 23:45] FredKSchott opened #1935 "Implement full HMR in `snowpack build --watch` mode"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/1459 https://github.com/snowpackjs/snowpack/pull/1008
**/cc** @joshnuss @francislavoie

`snowpack build --watch. --hmr` is working BUT it looks like it only supports basic browser-sync functionality. On change, the browser is automatically refreshed but `import.meta.accept()` is never called and full HMR never kicks in.  Y

[2020-12-12 06:44] choksheak opened #1942 "snowpack optimizer - File cannot be loaded for fonts"
**Original Discussion:**
**/cc**

[2020-12-12 06:46] choksheak commented on #1942
snowpack.config.js:

  experiments: {
    optimize: {
      bundle: true,
      minify: true,
      target: 'es2018'
    }
  },

When trying to load font files, I get this:

    74 │     url('./fonts/MyFont.ttf') format('truetype');

The optimizer should just assume the file does not need any optimization and move on.

Thanks!

[2020-12-12 19:27] Monkatraz commented on #1942
A previous thread about this that I made about this can be found here: https://github.com/snowpackjs/snowpack/discussions/1837

[2020-12-13 02:46] MarcDAFrame opened #1956 "@snowpack/plugin-sass How to obscure classNames"
I have a project that I would like to move from webpack to snowpack, however all of my styling is done like the first screen shot.

expected way to import scss
![image](https://user-images.githubusercontent.com/12240832/102001700-fa901280-3cc2-11eb-9b10-a051bd4cd8e9.png)

the way I got it to work
![image](https://user-images.githubusercontent.com/12240832/102001715-1d222b80-3cc3-11eb-9979-e0a0b4a3

[2020-12-13 05:24] choksheak commented on #1942
Cool thanks, let's go with your issue. I'll close my issue.

[2020-12-13 05:24] #1942 closed

[2020-12-13 16:03] hornta opened #1962 "Changes to dotenv file doesn't automatically update"
When editing the .dotenv file I expected the changes to be reflected in the app without having to restart snowpack.

[2020-12-13 20:23] FredKSchott commented on #1956
Yes! These are called CSS Modules. See https://www.snowpack.dev/reference/supported-files#css-modules

This should work with Sass as well

[2020-12-13 20:23] #1956 closed

[2020-12-13 20:26] #1962 closed

[2020-12-14 09:15] Stradivario commented on #1247
First time installer here i and i am facing the type of error.  It looks like tsconfig is ignored. Can you point out some commit SHA to or pull request for reference @FredKSchott  ?

[2020-12-14 16:03] matthewp commented on #1875
@drwpow  for `dep-types-only`, looking at the snapshot it appears that the module that only contains types is *not* installed. I assume that this is expected?

[2020-12-14 19:51] YogliB opened #1999 "Tree-shaking doesn't seem to work properly"
I'm playing around with Angular and Snowpack, and trying to build for production I hit some wall.

 My code is in JS, so it's basically a JS app, but after building (with or without a build plugin), some code doesn't get "shaked", according to Chomes' Lighthouse tool.

[Here](https://snowpack-template-angular-build.vercel.app/)'s a deployed version.

* You can run the test via [web.dev](https://we

[2020-12-15 03:55] ckken opened #2005 "Package "antd" not found. Have you installed it?"
antd coundn't build in snowpack 3.0.0-rc2

[2020-12-15 08:46] ckken opened #2009 "upgrade plugin-webpack to webpack 5"
github: https://github.com/efoxTeam/snowpack-mf/tree/main/packages/snowpack-plugin-webpack5
npm: https://www.npmjs.com/package/@efox/snowpack-plugin-webpack5

[2020-12-15 08:46] #2009 closed

[2020-12-15 11:57] winkler1 commented on #2005
You buried the lede - rc2 came out? TIL!

Tried antd  and it installed fine.
[code]
Needed more memory to install - bumped up from 1500 in `export NODE_OPTIONS='--max-old-space-size=2000' && ./node_modules/.bin/snowpack dev --reload`

[2020-12-15 18:02] #2005 closed

[2020-12-15 18:03] #1999 closed

[2020-12-15 18:05] FredKSchott commented on #1593
Thanks for the PR @februarycat! I'm going to mark this issue as done now that #1928 is done.

There's still some work to do to resolve relative paths from the location of the loaded file itself, but not directly related to the new `root` config.

[2020-12-15 18:05] #1593 closed

[2020-12-15 18:08] FredKSchott commented on #1278
I'm less bullish on this now, and am going to propose closing this issue.

File URLs are a great idea (behave and look the same on both Windows and Linux) but you lose access to all of the `path` helper methods. Node's URL helper methods aren't as easy to use (for example: `path.resolve`, `path.relative`, and `path.join` don't have equivalent one-liners.

Instead, we should look towards replacing

[2020-12-15 18:08] #1278 closed

[2020-12-15 18:10] FredKSchott commented on #948
Closing this as not a huge priority. we no longer use `code` in any external facing API, and this really only affects variable names at this point.

Would still love a PR to do that work (@stramel I know you had some work already done in #980) but not work prioritizing in light of all other v3.0 work we have scheduled

[2020-12-15 18:10] #948 closed

[2020-12-15 18:11] FredKSchott commented on #1340
Done! Will try to get this in for v2.0, but it's on the `main` branch which means it might land as a part of v3.0 instead.

[2020-12-15 18:11] #1340 closed

[2020-12-15 18:48] tajo commented on #1122
This would be a great feature. Building storybook-like tool too.

[2020-12-15 18:50] FredKSchott commented on #1122
I wonder if `*.stories.js` support could be added using our current plugin system:

[code]

[2020-12-15 18:52] FredKSchott commented on #1122
Support for deep file extensions like `'input: [".stories.js"]` was only just added yesterday in #1973, so I guess that's only possible recently. That support will go out in the next `v3.0.0-rc` release!

[2020-12-15 19:00] tajo commented on #1122
Oh interesting. Even if that works, would you have to restart the dev server after adding a new story?

My current approach (with Parcel) was to watch the filesystem and generate a js file that dynamically imports all found stories. This worked pretty well and enabled code-splitting too. However, it's annoying to keep this file around and was hoping that it could be somehow virtual.

But having so

[2020-12-15 19:03] FredKSchott commented on #1122
Ah gotcha, yea that seems more related to this request: https://github.com/snowpackjs/snowpack/issues/1165

Although I hadn't considered using a virtual file to handle this, and building the file based on the state of the filesystem. That's a really interesting idea, and may actually a better solution for #1165.

[2020-12-15 19:22] tajo commented on #1122
Yea, if I understand the `importAll` proposal correctly, it would just load all `*.stories.js` modules at the same time. However, I think having lazy load / code-splitting is really important for this use-case (something that Storybook doesn't support today and it limits its scaling).

Just to illustrate, this is my auto-generated file (an import for each story found):

[code]

It turns found stor

[2020-12-15 19:29] FredKSchott commented on #1122
Yea, that's good feedback, and I think Option 1 or 3 is a better choice for that reason. it's been a while since I've commented in that thread, i'll give an update now.

[2020-12-15 19:32] FredKSchott commented on #1165
Update: No progress on this since last post. But it's funny to read this now. I think I feel a bit more comfortable with **Option 3** and supporting this via import globs. The point about not being on any standards track is still valid, but since this was written I think we feel more comfortable adding Snowpack-specific features (also, seeing all 3 options as equally Snowpack-specific).

Current t

[2020-12-15 23:23] jamieowen commented on #1247
Same here. First time install.. And same problem. Seems tsconfig is found, but alias does not like aliasing to a /src folder. i.e:

[code]

[code]
Is there anymore information on this?
Thanks.

[2020-12-16 01:57] YajJackson commented on #1247
Running into the same issue using the example provided from the docs (https://www.snowpack.dev/reference/configuration#config.alias)

[code]
[code]
![Screen Shot 2020-12-15 at 8 56 38 PM](https://user-images.githubusercontent.com/19982913/102294833-1b04da80-3f18-11eb-9515-abce3bcdf65a.png)

Snowpack throws:
[code]

[2020-12-16 06:04] ckken opened #2016 "how can't i add publicPath in dev mode"
![image](https://user-images.githubusercontent.com/3890513/102311239-76ca7480-3fa7-11eb-9524-976619084a32.png)
the img can't load in 3002 when request in 3001

[2020-12-16 07:00] ckken commented on #2016
like this:
![image](https://user-images.githubusercontent.com/3890513/102315556-530b2c80-3faf-11eb-8550-9a5716ab9c95.png)
webpack 5:
pulbicPath='auto' can fixed remote src img

[2020-12-16 15:30] FredKSchott commented on #2016
I think you're looking for buildOptions.baseUrl

[2020-12-16 15:33] ckken commented on #2016
app one import app two component

[2020-12-16 17:01] melissamcewen opened #2023 "Snowpack dev not routing files converted to html by build plugins correctly"
@marlonmarcello was working on a plugin to convert `.pug` files to `.html` and realized that his files were not accessible on the dev server without the `.html` extension. I was working to update the plugin guide #1891 and found the same. For example a simple Markdown parser:
[code]

- `index.md` is accessible from `localhost/index.html` but not `localhost/` the `index.html` 404s in the console if

[2020-12-16 20:01] milahu commented on #648
snowpack 2.18.4 still clears terminal at

[code]
not nice!

[2020-12-16 20:42] FredKSchott commented on #648
`--output stream` should get you the behavior that you want

[2020-12-16 21:10] milahu commented on #648
aah yes. i only looked for "clear" in the docs

[code]

[2020-12-17 01:06] truongsinh commented on #1935
is the link correct? it points to a thumb up emoji

[2020-12-17 02:27] #2016 closed

[2020-12-17 02:28] FredKSchott commented on #1935
lol I meant to link to the line of code that the comment is referring to.

[2020-12-17 05:35] FredKSchott commented on #1339
@Rich-Harris I'm planning to close out this issue as a part of v3.0 release, and had two questions for you:

1. SvelteKit's loader: are you happy with the import rewriting you have built on top of meriyah ? Would it help to output CJS instead of ESM in SSR mode? It would be more difficult to scan/rewrite imports, but the thinking is that instead of rewriting imports you could pass in your own `req

[2020-12-17 05:56] FredKSchott commented on #1280
Tackling in #2027

[2020-12-17 05:56] #1280 closed

[2020-12-17 06:27] FredKSchott commented on #1165
Bah, I'm waffling on this again, and starting to think we shouldn't rush this and wait until post v3.

The issue with both 1 & 3 is that you end up creating code that's harder to bundle. Any time you do `import(val)` the bundler can't tell what you're importing. Both 1 & 3 lock you into that since they just return an array for your code to map over.

[2020-12-18 01:29] #1287 closed

[2020-12-20 11:55] nezlicodes opened #2061 "Failed to load node_modules/svelte-router-spa/src/components/navigate.svelte"
I am having troubles with my build. I keep getting this error message:

[code]

Here is my snowpack.config.js file
[code]

Am I doing this wrong?
Thanks in advance for your help.

Versions :
 "rollup-plugin-svelte": "^7.0.0".
  "snowpack": "^2.18.4".
 "svelte-router-spa": "^5.8.3"

[2020-12-20 19:31] FredKSchott opened #2063 "experiments.optimize.bundle failing on esbuild@0.8.24"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/2039
**/cc** @Monkatraz @pschyska

[2020-12-20 19:34] FredKSchott commented on #2061
Interesting. There was a bug around this that was recently fixed in 2.18.3, but it sounds like you would have picked this us with `^2.18.4`. Can you run with the `--verbose` and share your output?

[2020-12-20 19:34] #2061 closed

[2020-12-20 19:57] Monkatraz commented on #2063
I have an educated guess what may be causing it:

I think that the. `process` directory change trick doesn't work anymore, because now esbuild will just pass the already running service if you request another one. That means it won't inherit the new `process` directory. I'm not sure if I'm entirely right on this, though.

[2020-12-20 20:35] pschyska commented on #2063
@Monkatraz That sounds credible! I went through the few commits between 0.8.23-0.8.24 and couldn't see anything that looked like it could cause it.

[2020-12-20 22:02] FredKSchott commented on #2063
I wonder if there's a way to detect if this had happened. If so, a dumb workaround could be to stop the service and then then start a new service when this happened.

However, that behavior by esbuild doesn't sound entirely right. If I've started a service and another tool somewhere else in the process stopped theirs, then it would be unexpected for my service to stop as well. But maybe esbuild is

[2020-12-21 03:07] evanw commented on #2063
That sounds right. Sorry about the breakage. I didn't realize that people were swapping out the current working directory and I don't currently have test coverage for that. This is indeed a result of a change in 0.8.24 to share the service behind the scenes when more than one service is created at the same time. I can ship a fix for this soon.

[2020-12-21 03:26] Rich-Harris commented on #1339
This is cool!

I don't think so, no:

* Every Snowpack transformer plugin would need to be able to emit CJS in addition to ESM, _or_ Snowpack would need to apply an additional transformation from ESM to CJS (which would be equivalent to the transformation currently happening inside the runtime) _just in case_ it was to be consumed by the runtime (as opposed to e.g. a bundler, which would rather ha

[2020-12-21 04:07] FredKSchott commented on #1339
Yea I'm definitely only thinking about scoping this to static build output & a post-build transform so that plugins don't need to worry about it. Maybe a better way to frame this would be an opt-in `buildOptions.format: "esm" | "cjs"` option.

We could also just ship this as a plugin to start, something like this (just a wip for now) and then see if people want it built-in: https://github.com/snow

[2020-12-21 06:08] evanw commented on #2063
Can you check esbuild version 0.8.26? This problem should be fixed.

[2020-12-21 06:30] Monkatraz commented on #2063
Works for me now:
![image](https://user-images.githubusercontent.com/34875062/102746295-3c503700-431b-11eb-9263-ba76b9b1131e.png)

[2020-12-21 09:35] pschyska commented on #2063
@evanw Thanks, works for me, too!

[2020-12-21 10:18] Jack-Works opened #2074 "@snowpack/plugin-react-refresh doesn't work with Snowpack v3"
Using the react-typescript template

[2020-12-21 13:46] Jack-Works opened #2075 "[Feature request] Import ts file in node_modules"
I'm working with monorepo and I found I cannot use snowpack to archive the work:

[code]

Install the following project with `npm@7`

[code]

[code]

[code]

[code]

[code]

[code]

[2020-12-22 07:22] ZYSzys commented on #1935
I've tried to do this while testing in `react-typescript` project, but I found the `react-refresh` plugin seems not to be work in `build`(production?) mode.

From this [issue](https://github.com/facebook/react/issues/16604#issuecomment-528663101) I saw this:

Looks like the `react` internal not support fast-refresh in production mode, correct me if I'm wrong.

[2020-12-22 09:58] Jack-Works opened #2083 "Too many files changed leads to browser dies"
TypeScript has a bug, it will touch all files in `--build` mode. This leads to too many [ESM-HMR] reload. Please add a throttle on it thanks

![image](https://user-images.githubusercontent.com/5390719/102875799-43905580-447f-11eb-8e99-339cd1181d91.png)

[2020-12-22 09:59] joaotavora commented on #429
Hi, I'll just take the liberty of pointing you to what I think is a problem with this feature: https://github.com/snowpackjs/snowpack/discussions/1167#discussioncomment-234008

[2020-12-22 18:02] FredKSchott commented on #2083
Check out `hmrDelay` which should give you what you need here.

A good feature would be to detect that this was happening, and then  automatically increase `hmrDelay`

[2020-12-22 21:07] joaotavora commented on #429
I'm sorry for beating this horse, but after spending many hours debugging this (and diving into the Snowpack code), it seems that this feature was completely broken by #762, which includes this change to `dev.ts`.
[code]

So this explains why one changes a dependency, the browser gets updated , but nothing really gets re-installed.

I can't tell from the commit message why this was removed (was it

[2020-12-22 22:23] FredKSchott commented on #429
Oh interesting! You're right, that was a regression incorrectly merged in that PR. Will create a prioritized issue to fix

[2020-12-22 22:24] FredKSchott opened #2088 "Add back support to reinstall linked dependencies on change"
**Original Discussion:** https://github.com/snowpackjs/snowpack/issues/429
**/cc** @joaotavora

## Regression:

[code]

[2020-12-22 22:25] joaotavora commented on #2088
I'm working on a fix right now :-) Having fun, but I won't be suprised if you beat me to it, since they'll be my first ever lines of OSS javascript/typescript.

[2020-12-22 22:39] FredKSchott commented on #2088
Nice! Let me know how I can help. That commit should include the old implementation of reinstallDependencies(), which may need to change a bit since it's so old now, but should have enough to point you in the right direction. Appreciate the help!

[2020-12-22 22:46] joaotavora commented on #2088
I'm making progress, indeed.  I'll let you know if I am blocked.  First I'll try to get back that function you mention and get this working the way it presumably used to.

After that is done, I was thinking of being a little more ambitious and installing only the dependency that we know has changed, since I think `reinstallDependencies` installs _all_ of them.  In theory it should be possible to k

[2020-12-22 23:35] brunolemos commented on #429
@FredKSchott where can we follow the current discussions about treating linked packages as source files, specially in yarn workspace environment? (since this and some other related issues are closed)

[2020-12-23 00:28] joaotavora commented on #2088
After much rummaging around in the code, I've settled for exporting and re-using an  function in `sources/local` instead of bringing back the defunct `reinstallDependencies()`.  I thus touch very few lines, which is always a good idea in my book. Maybe/probably this misses some important detail but it works.  Getting late now, going to bed.

[2020-12-23 17:57] FredKSchott opened #2103 "handle HMR updates on svelte pre-processed file dependencies"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/2034#discussioncomment-236036
**/cc** @pngwn

[code]

[code]

[2020-12-23 19:09] tomaszkunicki opened #2106 "lit-html@next-major do not install"
Snowpack throws error

              package "lit-html" exists but package.json "exports" does not include entry for "./directives/cache.js".

[2020-12-23 19:16] tomaszkunicki opened #2107 "Do not remove install option - snowpack is getting worse and worse already"
It seems that you are going to create yet another  Webpack clone.

Dev server is not always option. Think about non web server environments such as Electron (just an example no the case).
We use something else so  `install` option is the only option we need. No HMR, no dev, no build.

If we want  to create bundles, we do it with rollup as it gives us better control over bundling process.

Yes. I d

[2020-12-24 06:25] Jack-Works commented on #429
I'm having this problem now. Is there a quick way to resolve this? For example, hard code my linked dependencies names in snowpack.config.js or somewhere

[2020-12-25 13:05] lrusik commented on #2074
same

[2020-12-25 19:19] stephtr commented on #429
In order to circumvent the issue, I made a symlink pointing to the linked dependency's location. In the snowpack config I added:
[code]
Despite not working perfectly, I at least get hot-reloading for my linked dependency while developing.

[2020-12-25 19:19] alexmarmon commented on #2074
I came across this as well. The error given is `Uncaught ReferenceError: $RefreshSig$ is not defined`

[2020-12-26 03:18] Jack-Works commented on #2074
I have another question for the maintainer. The `react-refresh/babel` allows you to use _any_ identifier to do the job, why `import.meta.$RefreshSig$` is not used in the snowpack (snowpack is setting it to the `window`)?

[2020-12-27 00:04] jonaskello commented on #2075
It seems like snowpack currently do not support monorepos according to discussion here: https://github.com/snowpackjs/snowpack/discussions/938. I was reading up on snowpack and I really like the ideas but most of my projects use yarn workspaces with typescript and the lack of support for this in snowpack unfortunately makes it a non-starter for now. Hopefully support for workspaces will be added.

[2020-12-27 09:28] theseyi commented on #194
Which previous version of snowpack still compatible with berry @DreierF ? Thanks

[2020-12-27 13:16] stephtr commented on #194
snowpack@2.15.1

However you might have to add the following to your root package.json:
[code]

________________________________
Von: Seyi Adebajo <notifications@github.com>
Gesendet: Sunday, December 27, 2020 10:28:56 AM
An: snowpackjs/snowpack <snowpack@noreply.github.com>
Cc: Stephan Troyer <stephantroyer@live.at>; Manual <manual@noreply.github.com>
Betreff: Re: [snowpackjs/snowpack] Add suppor

[2020-12-27 22:26] theseyi commented on #194
Thanks @stephtr I'm actually using 2.17.1 and it seems to be ok so far? Should I downgrade to 2.15.1 or will I run into issues later?

[2020-12-27 22:31] FredKSchott commented on #2107
esinstall is essentially a JS API for the original Snowpack. you can use it directly to create ESM bundles of JS packages like you could in the original Snowpack v1.0 days.

https://www.npmjs.com/package/esinstall

[2020-12-27 22:32] #2107 closed

[2020-12-27 22:33] #2106 closed

[2020-12-27 22:39] FredKSchott commented on #2075
Snowpack does support monorepos, and this PR should improve this support even more: https://github.com/snowpackjs/snowpack/pull/2091

The problem with treating npm packages as source is that most packages are published as CJS, so they need to be rebundled on every change. This is essentially what webpack and other bundlers do whenever a monorepo dependency changes as well. What we should look into

[2020-12-27 22:39] #2075 closed

[2020-12-27 22:40] #2074 closed

[2020-12-27 22:41] FredKSchott commented on #2063
Thanks all!

[2020-12-27 22:41] #2063 closed

[2020-12-27 22:43] FredKSchott commented on #194
Shocked that yarn doesn't support this! We'll roll this change back for now until that Yarn issue is solved.

[2020-12-28 07:53] simonh1000 commented on #389
Are there any working examples of how precisely to set this up. I read that snowpack won't import from node_modules and that people have tried postcss-import without success (my case too)?

[2020-12-28 08:11] stephtr commented on #194
With 2.17.1 I ran into issues as soon as I started snowpack. If it's working for you, it should be fine, especially since downgrading is such a quick thing to do.

It seems like a fix for yarn will be close ([yarnpkg/berry#1584](https://github.com/yarnpkg/berry/pull/1584#issuecomment-742658278)).

[2020-12-28 19:13] Haberkamp commented on #2023
I have the same proplem. Trying to write a plugin for twigjs.

[2020-12-30 13:43] colelawrence opened #2160 "plugin dev: TypeScript errors around `run({ log })` removed (Confused)"
https://github.com/snowpackjs/snowpack/blob/36c2a6772bc87ed1ea0e1ef626fea5cb8a399935/snowpack/src/types.ts#L117-L119

https://github.com/snowpackjs/snowpack/pull/671/files#diff-3a6ddf726e2b1de00744da2e6c1e06e378461be1ab1e0f125e63180819048123R43-R46

It appears that the `runOptions.log` doesn't have a type, yet many plugins use this function. Is there some other plan around the corner for logging f

[2020-12-30 20:03] ludwignagelhus commented on #389
Same. I have no idea what any of this means... I just want to import my fonts for my project T_T

[2021-01-02 11:39] stephtr commented on #194
In case you aren't subscribed to the Yarn issue, support just got added via [yarnpkg/berry#2291](https://github.com/yarnpkg/berry/pull/2291). I successfully tested it by switching to the master branch version (using `yarn set version from sources`) 🎉

[2021-01-02 21:57] techieshark commented on #389
I've found this to work

[code]

[code]

But... that seems not ideal. I'd expect to be able to do:
[code]

[2021-01-03 02:04] gremo commented on #1286
This issue has to get an high priority. Using CSS files from `node_modules` folder (with imports like images, icons, fonts) is a pain. I spent about 3 hours to figure it out (https://stackoverflow.com/questions/63871880/snowpack-woff2-font-wont-load/65545991#65545991).

Please fix!

[2021-01-03 03:39] greg-minshall commented on #1286
one interim patch might be to detect situations where the user appears to be *trying* to do the impossible, and emit a warning or error message, pointing them in the right direction?  (to be clear, somehow allowing this to "just work" would still be, imo, the best.)

cheers.

[2021-01-07 15:14] alexeychikk commented on #1245
I am still having this issue:
`EMFILE: too many open files, open ...`
`"snowpack": "^2.18.4"`
My config:
[code]

[2021-01-07 16:38] alexeychikk commented on #1245
If someone hits this, I fixed it like this:
1. install `graceful-fs`
[code]
2. create `build.js` in your projects folder:
[code]
3. replace your build script with:
[code]

[2021-01-07 17:24] developit opened #2203 "[esinstall] Package Export keys should be used in-order"
The spec indicates that the [ordering of keys in `"exports"` objects defines their precedence](https://nodejs.org/api/packages.html#:~:text=key%20order%20is%20significant), where the first matching key (direct string or via object traversal to matched nested key) is used. Currently, `esinstall` uses its configured keys (`packageExportLookupFields`) as the precedence ordering: https://github.com/sn

[2021-01-07 19:42] FredKSchott commented on #2203
interesting! We rely on rollup for this feature, and just pass that property to Rollup. Here's the PR where that was implemented in Rollup with the erroneous behavior that you're describing: https://github.com/rollup/plugins/pull/540

/cc @LarsDenBakker

[2021-01-07 20:19] LarsDenBakker commented on #2203
Interesting.. I did actually re-implement the whole thing in https://github.com/rollup/plugins/pull/693 where the implementation follows the spec more literally. Looks like it follows the exports order instead of the conditions order: https://github.com/rollup/plugins/blob/master/packages/node-resolve/src/package/resolvePackageTarget.js#L90

It's merged, but hasn't been released yet.

[2021-01-07 20:22] developit commented on #2203
Is the code I linked to in `esinstall` unused then?

[2021-01-07 20:32] FredKSchott commented on #2203
Ah you're right, it is unused. Two things missing:

1. We should be passing `packageExportLookupFields` to that function
2. We should be implementing the lookup using the correct lookup order that you mentioned

[2021-01-07 20:33] developit commented on #2203
If it's helpful, Evan implemented the same change in Vite just now: https://github.com/vitejs/vite/issues/1418#event-4181469707

[2021-01-07 20:34] FredKSchott commented on #2203
Also note that that logic you linked to isn't yet released to `latest` and only exists on `next`. Will go out to latest with Snowpack v3.0 next week.

[2021-01-07 20:34] FredKSchott commented on #2203
appreciate the link!

[2021-01-07 20:44] drwpow commented on #2203
This is correct Node behavior as you said, but one question I have is: from a community standpoint, there are packages where both are used: `import` is used for ESM Node, and `browser` is used for Browser-compatible code. Also, according to the [docs](https://nodejs.org/api/packages.html#packages_conditional_exports):

Knowing that a package may have both `browser` and `import` conditional exports

[2021-01-07 21:04] developit commented on #2203
@drwpow supporting "browser" is totally up to Snowpack to decide, but implementations should not give precedence to a given field arbitrarily. Instead, module authors are the ones who decide whether the "browser" field should be given precedence over "import", which they can do by changing the order.

Here's a package.json that tells the bundler/runtime "use my browser build when bundling for the

[2021-01-07 21:10] drwpow commented on #2203
Totally fair! Thanks for clarifying that point. I’m on board with that.

[2021-01-07 21:16] developit commented on #2203
Happy to! I keep meaning to write a legit guide on this, I feel like the ecosystem could really use something. It's these little details that end up making `"exports"` more viable and as a tool to move things forward.

To add a bit of context to the above: I know it's a little concerning to go with Node's solution where the field precedence decision is in the hands of package authors. But consider

[2021-01-07 21:21] FredKSchott commented on #2203
Trusting package authors, Jason??? 🙀

[2021-01-07 21:29] matthewp commented on #2203
Key ordering is an odd API choice and I worry that authors are not going to realize it and make mistakes. You can also imagine a scenario where runtimes support the same conditions and so you can never target each runtime with different modules. For ex. if Deno ever supported this and you wanted to use different entrypoints for Deno and Node, you couldn't really do that.

[2021-01-07 21:52] matthewp commented on #2203
@developit in your original example:

[code]

You want the bundler to include `import`, then what is `browser` for?

[2021-01-07 21:53] FredKSchott commented on #2203
I do agree that it assumes an understanding of export maps that I just haven't seen so far in the ecosystem. For example, I've spent plenty of time looking at export maps and didn't realize this behavior until you brought it up. Definitely a little concerned about this path forward, even if it is The Right Thing to do.

[2021-01-07 22:27] developit commented on #2203
@matthewp in that example, `browser` would be used by something like unpkg. Here's a clearer example:

[code]

[2021-01-07 22:30] developit commented on #2203
The understanding piece is definitely and important one. For me though, the lightbulb moment was realizing that we already tried custom semantics and know those erode over time as a result of misuse, whereas package-defined semantics can evolve over time. Poor ordering choices get filed as bugs in the offending package, which is something the package author can then address. One of those "distribu

[2021-01-07 22:47] matthewp commented on #2203
@developit Does unpkg support `exports.browser`? As far as I can tell it doesn't read the exports map at all currently: https://github.com/mjackson/unpkg/blob/9f44cbf0135ede5201115449debf3b7a34538921/modules/middleware/validateFilename.js

Let's pretend it did support it though, presumably it would *also* support `exports.import`. In which case, when would `browser` ever be used? Are you imagining

[2021-01-07 23:01] matthewp commented on #2203
btw, I'm not arguing we shouldn't support the ordering, I think we should until there's a more serious problem, just pointing out that `import` before `browser` is almost definitely a mistake (unless there's a case I'm not thinking of) and I wonder if there's a way to surface this some how...

[2021-01-07 23:47] developit commented on #2203
Unpkg doesn't support the exports field at all, no. I was using it as an example. Another example of this would be when bundling with Webpack or Rollup while targeting UMD.

The reason this might seem superfluous is because bundlers are most commonly used to produce browser code - but that association is not actually a generalizable one, it's just a common case.

Ultimately, the use-case for being

[2021-01-08 01:30] FredKSchott commented on #2160
Yes! This was never really meant to go be used by others, and uses some internal Snowpack interface. A big v3.1 feature that I'm gunning for will be a new dashboard & reporting interface to fix this.

[2021-01-08 01:30] #2160 closed

[2021-01-08 01:44] #2023 closed

[2021-01-08 15:26] dusty opened #2210 "Support "fallback" routes with a period in it"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/1318

It appears that if there is a dot in the file path snowpack treats it as a file request and does not load the main index file.  In an SPA this breaks any page that has a path with a dot in it, if the user were to deep link into that path or refresh their browser while on that path.

Here is an example repo that demon

[2021-01-09 06:25] fitztrev opened #2215 "Build directory not being deleted between builds"
According to the docs, `/build` should be deleted and rebuilt on each build (`buildOptions.clean` default is `true`)

But my `/build` directory still contains files that should be excluded. Steps to reproduce:

### Step 1
[code]
**Result:** `/build` is created with `one.html` and `two.html`. Good so far.

### Step 2
[code]
**Result:** `/build` still contains `two.html`, when it should not.

### St

[2021-01-09 07:55] ZYSzys commented on #2215
It was fixed in #2056 recently, waiting for author @FredKSchott to release the next version.

[2021-01-09 11:59] joaotavora commented on #2088
@FredKSchott what's the status on this?  Do you think the fix I'm proposing will get merged in the near future, or do you have something else in mind?  I think something more elaborate and/or efficient is clearly possible, but at least merging my fix seems to bring back the previous behavior.

[2021-01-09 19:10] #1339 closed

[2021-01-10 15:33] newtriks opened #2224 "Getting Started with Svelte shows error relating to sw-debug.js"
When following the [**Getting Started with Svelte**](https://www.snowpack.dev/tutorials/svelte) tutorial the following error appears in the terminal console:

`[snowpack] [404] /sw-debug.js`

<img width="565" alt="Screenshot 2021-01-10 at 15 33 09" src="https://user-images.githubusercontent.com/31971/104127279-2bfb0d00-5359-11eb-9dc7-c4269f224505.png">

Seems similar to https://github.com/snowpack

[2021-01-13 00:50] rmunn opened #2243 "Snowpack 3.0.3 fails to search node_modules in extends config"
Minimal repro: check out https://github.com/rmunn/snowpack-3.0.3-svelte-repro then do `yarn && yarn build`.

With a snowpack.config.js file that contains the line `extends: '@sveltejs/snowpack-config'`, Snowpack 3.0.3 produces the following error:

[code]

If I work around the issue by changing the `extends` line to `extends: 'node_modules/@sveltejs/snowpack-config'` then it finds the module, but

[2021-01-13 02:49] wxj783428795 opened #2244 "snowpack@3.0.3 using @snowpack/plugin-typescript@1.2.0 get error"
[@snowpack/plugin-typescript] Command exited with error code: Error: Command failed with exit code 1: tsc --noEmit --watch
Version 4.1.3
Syntax:   tsc [options] [file...]

[2021-01-13 03:48] rmunn commented on #2244
There's not enough detail here to reproduce the error. What does your snowpack.config.js file look like? What does your package.json look like? And what does your tsconfig.json look like? Answering those questions might still not be enough to allow others to reproduce the error, but it would be a start.

[2021-01-13 04:08] rmunn commented on #2243
That second failure may actually be another bug, now that I think about it. Here's what's going on there: the `@sveltejs/snowpack-config` contains a `snowpack.config.js` file that looks like this:

[code]

The `mount` option is the one that's failing here. It specifies a `.svelte/assets` directory, which exists (or will exist once Svelte has run its compile step once) at the root of the repo, e.g.

[2021-01-13 05:30] FredKSchott commented on #2244
I can't reproduce in a CSA TS template. As @rmunn said, we need more info to debug and steps to reproduce. Please create a Discussion instead of an issue so that we can take a look.

There's a good chance that you haven't installed `typescript` in your project, which could be one reason why `tsc` would fail to run.

[2021-01-13 05:30] #2244 closed

[2021-01-13 05:32] FredKSchott commented on #2243
I've seen this trouble before with some extended configs wanting to reference files relative to the extended config, and others wanting to reference files relative to the user's config. Since a package can always reference itself via `__dirname`, I agree that it makes sense for the default to be relative to the user.

That was actually original 2.x behavior, so I don't feel bad about shipping this

[2021-01-13 05:43] FredKSchott commented on #2243
Okay, fixed both issues here: 67e91419

One last thing you mentioned: `.svelte/assets` doesn't exist at server startup, and is only created post startup, which is why you're seeing that new error message. Would it be possible to create that directory ahead of time, before starting SvelteKit / your project? That way, we can keep the warning (don't try to mount something that doesn't exist!) for the

[2021-01-13 05:43] FredKSchott commented on #2243
Closing because the main issue is fixed, but feel free to keep the convo going for this last question

[2021-01-13 05:43] #2243 closed

[2021-01-13 05:45] FredKSchott commented on #2224
That's strange, I'm only seeing references to `sw-debug.js` in Preact CLI projects. Maybe you have another tab open with a Preact project, that's hitting that same port? I can't reproduce.

[2021-01-13 05:45] #2224 closed

[2021-01-13 05:45] FredKSchott commented on #2224
Closing because we keep issues open for prioritized/triaged issues. In the future, please create a discussion / feel free to keep this conversation going there. Thank you!

[2021-01-13 05:46] FredKSchott commented on #2215
This is out in v3.0 (announcing tomorrow, but already available if you want to upgrade now)

[2021-01-13 05:46] #2215 closed

[2021-01-13 05:52] rmunn commented on #2243
Looking at the SvelteKit code, it actually creates the `.svelte` directory structure (including `.svelte/assets`, `.svelte/build` and some more directories under `.svelte/build`) before it calls Snowpack. So by the time Snowpack is first run, the `.svelte/assets` directory that it's trying to mount already exists. So there's no need to remove a warning about mounting a directory that doesn't exist

[2021-01-13 05:59] FredKSchott commented on #2210
Thanks for filing, I just tried your repo with Snowpack v3.0 and the updated `routes` config, and confirmed that this is still an issue. This is because we consider a user's "route" anything that doesn't have a file extension (or, does have a `.html` file extension).

I'd actually like to support this, this was more in line with the behavior that I wanted originally, but right now everything lives

[2021-01-13 06:03] FredKSchott commented on #2088
Sorry for the delay on this, I've been on holiday and then immediately went heads down into getting v3.0 out the door. Should have more time to take a look at this in the next couple of days. I can also help you rebase your PR, given that a few things had to move around for v3.0 since you started on it.

[2021-01-13 06:52] rmunn commented on #2243
Can confirm that Snowpack 3.0.4 fixes this issue. Thanks!

[2021-01-13 08:01] FredKSchott commented on #2243
Got it! That's great to hear 👍

[2021-01-13 11:02] joaotavora commented on #2088
I think I just did that, rebase on top of `main` with a few changes (I think the stuff you moved around makes things slightly clearer).

It's working fine, as far as I can tell, though on upgrading Snowpack to main I had to `npm i --legacy-peer-deps` because of some dependency breakage that I didn't understand.  It doesn't seem to affect anything, though

[2021-01-13 18:11] joaotavora commented on #2088
By the way, I found and fixed another bug.  When making the FS watcher for linked deps, better consider `config.exclude` (which is `node_modules` and stuff), otherwise it's really easy to blow past the default limit for FS-watching handles.

[2021-01-13 18:17] markfirmware opened #2261 "npm-run-build-templates (svelte-typescript, windows-latest) failing"
https://github.com/markfirmware/audit/runs/1696940901?check_suite_focus=true

[2021-01-13 18:40] #2261 closed

[2021-01-13 20:33] FredKSchott opened #2263 "Add helper to transform file name from source <> build"
**Original Discussion:** https://github.com/snowpackjs/snowpack/discussions/2260#discussioncomment-280307
**/cc** @Rich-Harris

Our file build system has gotten more powerful, but also more complex. As a result, it would help consumers of Snowpack to have a transform function that can transform file names from source name to final built name (and vice-versa).

We already have helper functions for

[2021-01-13 22:36] jesperp opened #2264 "User's hmrOptions are ignored by plugin-svelte"
I could not `preserveLocalState` to work in my svelte plugin

[code]

Dove into the source and found that the spread operator is not properly used here. This results in the user's settings being completely ignored. Fix: Move the user's option to the bottom.

https://github.com/snowpackjs/snowpack/blob/a420855a8a6765f25f17335e381ca1299b8e5311/plugins/plugin-svelte/plugin.js#L133,L139

[2021-01-13 22:51] joshwilsonvu opened #2265 "plugin-esbuild is removed if other loader plugins are added"
Hello,

At [this line](https://github.com/snowpackjs/snowpack/blob/d0a605222d162649daf8fb6b4f2d9af0cebb10c7/snowpack/src/config.ts#L313), Snowpack currently only adds `plugin-esbuild` if no other loader plugin is configured for each file type. I don't think this is compatible with this line in the docs:

Say `'./my-custom-plugin'` has been added to the `plugins` list. If `my-custom-plugin.js#load(

[2021-01-13 23:47] kjk opened #2268 "Streaming imports doesn't work for svelte"
Using just released snowpack 3.0, I did:
[code]

I did `yarn start` to verify it works.

I then enabled streaming imports by adding:
[code]
to `snowpack.config.js`.

On `yarn start` I got the following error:

![chrome_YbIbGJpX9J](https://user-images.githubusercontent.com/7935/104526169-a1174e00-55b6-11eb-847e-9ff8aef5b85c.png)

[2021-01-13 23:56] kjk commented on #2268
Looks like issue with caching/serving cached files:

![chrome_esenlsDWbo](https://user-images.githubusercontent.com/7935/104526606-af199e80-55b7-11eb-9aab-7979abf3b066.png)

![chrome_pZTXkmSP0X](https://user-images.githubusercontent.com/7935/104526610-b17bf880-55b7-11eb-8c95-7006c753118f.png)

i.e. "internal" probably meant to be a JS file from pkg.snowpack.dev cached locally, but instead its cont

[2021-01-14 00:30] FredKSchott commented on #2268
Interesting, will take a look. That should be saved as `svelte/internal.js`, not `svelte/internal` so I'm curious why that's happening. It may be because of a redirect from one to the other that our cache isn't picking up.

[2021-01-14 00:43] FredKSchott commented on #2264
Good catch, fixing this here: 5662f019c0f19fb829e14fa9c20ca82fa7edcc77

[2021-01-14 00:43] #2264 closed

[2021-01-14 00:43] FredKSchott commented on #2264
PS: In the future, please use a discussion instead!

[2021-01-14 00:45] FredKSchott commented on #2265
This makes sense to me, you're right that we were violating expected behavior in that case.

Would love a PR if you're able to add one to implement this fix!

[2021-01-14 01:10] joshwilsonvu commented on #2265
I can do that. Thanks!

[2021-01-14 02:17] FredKSchott commented on #2268
Found the issue, as expected it was a bad resolution on the CDN. Planning to push out a fix tonight

[2021-01-14 04:45] FredKSchott commented on #2268
Fixed! You may need to use the `--reload` flag to clear the bad import from your local cache.

[2021-01-14 04:45] #2268 closed

[2021-01-14 16:06] #2265 closed

[2021-01-14 16:21] Valexr opened #2291 "warning "@snowpack/plugin-svelte > rollup-plugin-svelte@7.0.0" has unmet peer dependency "rollup@>=2.0.0""
warning "@snowpack/plugin-svelte > rollup-plugin-svelte@7.0.0" has unmet peer dependency "rollup@>=2.0.0"

[2021-01-14 16:33] FredKSchott commented on #2291
Yea, I saw that. Since we bundle rollup into Snowpack now (starting in v3.0) this is no longer accurate. Let me file an issue with `rollup-plugin-svelte` and see what they say.